<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a40165e298.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Contact</title>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__div">
          <a href="../">Nash Sofan</a>
        </div>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="link-nav work"><a href="../">Work</a></li>
            <li class="link-nav about">
              <a href="./views/about.html">About</a>
            </li>
            <li class="link-nav contact">
              <a href="">Contact</a>
            </li>
            <li class="link-nav resume">
              <a
                href="https://storage.googleapis.com/uxfolio/6209e7ec1a83970003c773dc/cv/Nash_Resume_PD_ZUK.pdf"
              >
                <p>Resume</p>
                <img
                  src="../assets/images/portfolio/external-link.svg"
                  class="link-nav__img"
                  alt="link to cv"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- FORM -->
    <div class="form-container">
      <form action="#">
        <div class="message__container">
          <span class="message">Dear Nash Sofan,</span>
          <textarea placeholder="Write your message here..."></textarea>
        </div>
        <div class="contact--details__container">
          <span class="message">Best,</span>
          <input type="text" placeholder="Your name" required>
          <input type="text" placeholder="Your email" required>
        </div>
        <div class="button">
          <input type="submit" value="Send email">
        </div>
      </form>
    </div>

    <!-- FOOTER -->
    <footer>
      <a href="https://www.linkedin.com/in/nashsofan/">
        <img src="../assets/images/portfolio/linkedin.svg" alt="linkedin logo" />
      </a>
      <a href="https://medium.com/@sofannash"">
        <img src="../assets/images/portfolio/medium.svg" alt="medium logo" />
      </a>
    </footer>
  </body>
</html>
