<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/habitTracker/habitTracker.css" />
    <title>Habit Tracker App</title>
  </head>

  <body>
    <!-- SETCION 1 - HERO -->
    <section class="hero">
      <div class="hero__div">
        <h1>Habit Tracking App</h1>
        <p>Using AI to encourage contacting loved ones habitually</p>
      </div>
      <img
        src="../assets/images/habitTracker/habitTracker.svg"
        alt="habit tracker app screengrab"
      />
    </section>

    <!-- SECTION 2 - SPECS -->
    <section class="specs">
      <div class="specs__container">
        <div class="specs__text specs__text--left">
          <h4>Team Size</h4>
          <p>Individual</p>
          <h4>Materials</h4>
          <ul>
            <li>Index Cards</li>
            <li>Pen</li>
            <li>Figma</li>
          </ul>
        </div>
        <div class="specs__text specs__text--center">
          <h4>Responsabilities</h4>
          <ul>
            <li>Research</li>
            <li>Affinity Mapping</li>
            <li>User Flows</li>
            <li>Sketching</li>
            <li>Usabitlity</li>
            <li>Mid-fi Prototype</li>
          </ul>
        </div>
        <div class="specs__text specs__text--right">
          <h4>Duration</h4>
          <ul>
            <li>Spring 2022</li>
            <li>1 Week</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - OVERVIEW -->
    <section class="overview">
      <div class="overview__container">
        <h3>PROBLEM STATMENT</h3>
        <p>
          A family system helps every one of its members through the good and
          the bad times. People want to contact their families more frequently,
          but so often find themselves distracted by work and their busy
          schedules, ultimately detaching from their loved ones.
        </p>
      </div>
    </section>

    <!-- SECTION 4 - BACKGROUND -->
    <section class="background">
      <h1>Background</h1>
      <div class="background__text">
        <div class="text--top">
          <h3>PROJECT OVERVIEW</h3>
          <p>
            During my UX/UI Bootcamp at IronHack, I was proposed with a project
            to The identify an opportunity (through user research) for an app to
            <span>support building</span>, <span>or breaking</span>,
            <span>a habit</span>. Furthermore, to craft a new mobile app in only
            mid-fi prototype, designed to meet the needs of the users based on
            research.
          </p>
        </div>
        <div class="text--bottom">
          <h3>HYPOTHESIS</h3>
          <p>
            A smart tool that curates and
            <span>suggests friendly reminders</span> to contact people based on
            input will not only make contacting loved ones more attainable for
            busy users, but <span>also encourage</span> them to do so.
          </p>
        </div>
      </div>
    </section>

    <!-- SECTION 5 - RESEARCH-->
    <section class="research">
      <h1>Research</h1>
      <div class="research__content">
        <div class="research__content--interviews">
          <h3>INTERVIEWS</h3>
          <p>
            Due to time constraints and scope of the challenge, I conducted
            <span>5 face-to-face interviews</span> with people who use their
            phones for more than <span>7 hours a day</span>. All participants
            are aged between 27-36, living in <span>Barcelona</span>.
          </p>
          <blockquote>Can you tell me about how you use your phone?</blockquote>
          <p>
            I began all interviews with the question above. From there I
            interviewed each participant for around <span>~15 minutes</span> to
            get down to their habits; thoughts; pain-points; even goals.
          </p>
          <p>
            Interviewing them helped me better learn first-hand what habits are
            there to support or cut on and ultimately how they feel about it. I
            gained insight to how they have difficulties balancing their
            relationships with their families and work; their feelings and
            emotions when it comes to reaching out to family; or even their need
            to be constantly reminded.
          </p>
        </div>

        <div class="research__content--insights">
          <h3>INSIGHTS</h3>
          <div class="insights__icons">
            <div class="insights__icons--3">
              <img
                src="../assets/images/habitTracker/3by4.svg"
                alt="people icon"
              />
              <span>3 in 5</span>
              <p>Get backlash from parents for not calling them</p>
            </div>
            <div class="insights__icons--60">
              <img
                src="../assets/images/habitTracker/diagram.svg"
                alt="diagram icon"
              />
              <span>60%</span>
              <p>Only call people when they need a favor</p>
            </div>
            <div class="insights__icons--4">
              <img
                src="../assets/images/habitTracker/4by5.svg"
                alt="diagram icon"
              />
              <span>60%</span>
              <p>Forget and want to be reminded constantly</p>
            </div>
          </div>
          <div class="insights__quotes">
            <p>
              <q
                >“I don’t know why, but I always forget to call my parents, and
                they always get angry”</q
              >
              - <span>Gizelle</span>
            </p>
            <p>
              <q
                >“I feel guilty for not calling my niece anymore because im too
                busy, we used to draw with each other over Facetime”</q
              >
              - <span>Stephanie</span>
            </p>
            <p>
              <q
                >“I should prioritize my family, but I also need to get
                something in return”</q
              >
              - <span>Calvin</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 7 - SYNTHESIS -->
    <section class="synthesis">
      <h2 class="synthesis__title">Synthesis and Ideaditon</h2>

      <div class="synthesis__div--affinity">
        <h3>AFFINITY MAPPING</h3>
        <p>
          After conducting the interviews, I created an affinity maps to pull
          together patterns and key information, then categorized them according
          to what they had in common. Ultimately, I did multiple rounds until I
          ended up with <span>six main</span> categories:
        </p>
          
        <div class="affinity__list">
          <ul>
            <li>Family mindset</li>
            <li>Emotional Caller</li>
            <li>Mode of contact</li>
            <li>Time constraint</li>
            <li>Occasional Caller</li>
            <li>Time constraints</li>
          </ul>
        </div>

        <div class="affinity__images">
          <div class="affinity__image-container affinity__images-round1">
            <h3>ROUND 1</h3>
            <img
              src="../assets/images/habitTracker/round1.svg"
              alt="round1 image"
            />
          </div>
          <div class="affinity__image-container affinity__images-round2">
            <h3>ROUND 2</h3>
            <img
              src="../assets/images/habitTracker/round2.svg"
              alt="round2 image"
            />
          </div>
        </div>

        <div class="affinity__line"></div>

        <p>
          All interviewees wanted to speak more often to their families, however
          are having difficulties <span>finding time</span>;
          <span>forget</span> because they are distracted with their careers;
          need encouragement and motivation; even keep <span>track</span> of
          their calling frequency with ease and no thinking.
        </p>
      </div>
      <div class="synthesis__div--persona">
        <h3>USER PERSONA</h3>
        <p>
          I came up with a user persona. It helps to better understand
          behaviours, experiences, needs and goals of potential users that would
          not have been obvious.
        </p>
        <img src="../assets/images/habitTracker/alex.svg" alt="alex picture" />
      </div>
      <div class="synthesis__div--scenario">
        <h3>SCENARIO</h3>
        <p>The specific task flow is as follows:</p>
        <p>
          Alex launches the application and would like to add his Girlfriend,
          Fiona, to his contact list so he can be reminded to speak to her on a
          daily basis. He will add her and then wait for the app to suggest to
          him when to call her.
        </p>
      </div>
      <div class="synthesis__div--brainstorming">
        <h3>BRAINSTORMING/ROUGH SKETCHES</h3>
        <p>After zeroing in the top interesting ideas, I did a <span>Crazy 8’s</span> sketch just to get ideas on paper visually and get a feel for what my project would be. And again for three times until I reached this final sketch.</p>
        <img src="../assets/images/habitTracker/brainstorming.jpg" alt="brainstorming picture">
      </div>
    </section>
  </body>
</html>
