<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/magnettu/magnettu.css" />
    <title>Magnettü</title>
  </head>
  <body>
    <!-- SETCION 1 - HERO -->
    <section class="hero">
      <div class="hero__div">
        <h1>Magnettü</h1>
        <p><span>Architecting</span> the MVP for a business collaboration</p>
      </div>
      <img
        src="../assets/images/portfolio/magnettu.png"
        alt="magnettu screengrab"
      />
    </section>

    <!-- SECTION 2 - OVERVIEW -->
    <section class="overview">
      <div class="overview__div">
        <div class="overview__div--left">
          <h3 class="div__title">Overview</h3>
          <p class="div__paragraph">
            Magnettü is an all-in-one SaaS that leverages AI to generate
            personalized content to help empower employees build their own
            personal brands and in-return generate marketing leads for the
            company.
          </p>
        </div>
        <div class="overview__div--right">
          <div class="overview__div--rightone">
            <div class="overview__div--left--role">
              <h3 class="div__title">Role</h3>
              <p class="div__paragraph">Product Designer</p>
            </div>
            <div class="overview__div--left--responsabilities">
              <h3 class="div__title">Responsabilities</h3>
              <p class="div__paragraph">
                UX Research Information Architecture Product Design / UI
              </p>
            </div>
          </div>

          <div class="overview__div--righttwo">
            <div class="overview__div--righttwo--timeline">
              <h3 class="div__title">Timeline</h3>
              <p class="div__paragraph">One Month - Spring 2022</p>
            </div>
            <div class="overview__div--righttwo--team">
              <h3 class="div__title">Team</h3>
              <ul class="div__list">
                <li>3 Product Designer</li>
                <li>1 Web Developer</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - FIRST -->
    <section class="first">
      <h2>First Thing's First</h2>
      <div class="first__div">
        <div class="first__div--top">
          <h3 class="div__title">Project Scope</h3>
          <p class="div__paragraph">
            Magnettü contracted Michel, Jan and I to collaborate with their CTO
            to design and architect a MVP. They needed a company marketing
            <span>landing page</span>, <span>user dashboard</span>, and
            <span>manager dashboard</span> to show investors to realize the
            initial seed funding in Spring 2022.
          </p>
        </div>
        <div class="first__div--bottom">
          <h3 class="div__title">Understanding the problem</h3>
          <p class="div__paragraph">
            Businesses that are struggling to
            <span>lower cost per leads</span> due to the loss of efficiency from
            social media channels, need a way to
            <span>increase lead conversions</span> and build brand awareness
            from within the business.
          </p>
        </div>
      </div>
    </section>

    <!-- SECTION 4 - HYPOTHESIS -->
    <section class="hypothesis">
      <h3 class="hypothesis__title">Hypothesis</h3>
      <p class="hypothesis__paragraph">
        Creating an easy tool to help employees play a more active in social
        media and managers to track content, will generate lead conversions at a
        lower cost. Hence, increase company sales, decrease marketing spending,
        and empower employees to build a personal brand.
      </p>
      <div class="hypothesis__button">
        <input type="submit" value="Skip to Prototype" />
      </div>
    </section>

    <!-- SECTION 5 - AUDIENCE -->
    <section class="audience">
      <h2>Understanding The Audience</h2>
      <div class="audience__div">
        <p class="div__paragraph">
          Although Magnettü’s team provided secondary research and a features
          list, we conducted further empathetic research to articulate a
          <span>user-focused problem statement</span> that will then allow us to
          craft a MVP design that meets the <span>user’s needs</span>.
        </p>
        <div class="audience__div--bottom">
          <div class="left__content">
            <h3 class="div__title">Interviews</h3>
            <p class="div__paragraph">
              We began our primary research by creating an
              <a href="#">interview guide</a> then started conducting
              <span>12 interviews</span> with participants aged between
              <span>26-41</span> who are currently in the workforce and are
              potential users. Participants were a mix of
              <span>brand managers</span> and <span>employees</span> in multiple
              industries so we can understand the needs and wants from each use
              case. We then did <span>affinity mapping</span> and
              <span> feature prioritization</span> methods to help us ideate.
            </p>
          </div>
          <img
            src="../assets/images/magnettu/managerDash.png"
            alt="manager dashboard picture"
          />
        </div>
      </div>
    </section>

    <!-- SECTION 6 - FINDINGS -->
    <section class="findings">
      <h3>Interview Findings</h3>
      <div class="findings__div">
        <div class="div__blocks div__blocks--four">
          <img src="../assets/images/magnettu/fourSix.png" alt="four icon" />
          <p>
            Managers complain about <span>social media ads expenses</span> and
            want lucrative alternatives.
          </p>
        </div>
        <div class="div__blocks div__blocks--eight">
          <img
            src="../assets/images/magnettu/eightyFive.png"
            alt="eighty icon"
          />
          <p>
            Of managers want employees to share company news because it cheaper
            than social media ads and are percieved as <span>trustworthy</span>.
          </p>
        </div>
        <div class="div__blocks div__blocks--seven">
          <img
            src="../assets/images/magnettu/seventyNine.png"
            alt="seventy icon"
          />
          <p>
            Of employees would love to share <span>content</span>, but find it
            <span>time consuming</span> and <span>difficult</span> to come up
            with content.
          </p>
        </div>
      </div>
      <p>Source: User Research Spring 2022</p>
    </section>

    <!-- SECTION 7 - NICOLAS -->
    <section class="nicolas">
      <div class="nicolas__div--top">
        <h3>User Personas</h3>
        <p>
          We then came up with two user personas, a manager and an employee.
          Meet <span>Nicolas</span> and <span>Alexander</span>. You might ask
          why real estate and not any other industry. Well, it happens to be
          that <span>5 in the 12</span> interviewees were in real estate and we
          believe that real estate has more complex problems, if we solve them,
          other industries will be solved.
        </p>
      </div>
      <div class="nicolas__div--medium">
        <img
          src="../assets/images/magnettu/nicolas_picture.jpg"
          alt="nicolas photo"
        />
        <div class="medium__content">
          <h1>Nicolas Coorey</h1>
          <p>41, Marketing Manager at Engel and Volkers, Madrid, Spain</p>
          <div class="content--bio">
            <h3>BIO</h3>
            <p>
              Nicolas, father of three, lives with his family in the outskirts
              of Madrid. He truly believes in this quote “People trust people,
              not companies”. Excited for the post covid opportunities at his
              company.
            </p>
          </div>
          <div class="content--bottom">
            <div class="bottom--pain">
              <h3>PAIN POINTS</h3>
              <p>
                Hard time educating employees to all the news that is happening
                internally.
              </p>
              <p>
                Cannot track & measure the success of word-of-mouth content
                created by employees.
              </p>
            </div>
            <div class="bottom--goals">
              <h3>GOALS</h3>
              <p>Ultimately lower marketing spending for the company and.</p>
              <p>Motivate employees to advocate for the company.</p>
              <p>Track all social media posts made using measurable KPI’s.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nicolas__div--bottom">
        <h3>Nicolas <span>Task Scenario</span></h3>
        <p>
          It’s a new quarter and Nicolas wants to share a new piece of content
          to all the employees and meanwhile, see the progress they’ve made by
          viewing measureable KPI’s all via his dashboard.
        </p>
      </div>
    </section>

    <!-- SECTION 8 - ALEXANDER -->
    <section class="alexander">
      <div class="alexander__div--medium">
        <img
          src="../assets/images/magnettu/alexander_picture.png"
          alt="alexander photo"
        />
        <div class="medium__content">
          <h1>Alexander Hipp</h1>
          <p>3o, Real Estate Agent at Engel and Volkers, Madrid, Spain</p>
          <div class="content--bio">
            <h3>BIO</h3>
            <p>
              Alex is an outgoing, ambitious extrovert. He recently moved to
              Madrid from Amsterdam to start a new chapter in and does not have
              enough time to explore and work.
            </p>
          </div>
          <div class="content--bottom">
            <div class="bottom--pain">
              <h3>PAIN POINTS</h3>
              <p>Feels under valued at company and not able to stand out.</p>
              <p>
                Difficulty to stay up with all the industry trends and news.
              </p>
              <p>
                Hard time writing and managing social media content effectively.
              </p>
            </div>
            <div class="bottom--goals">
              <h3>GOALS</h3>
              <p>Become an employee advocate and build his personal brand.</p>
              <p>
                Stand out between others in the industry by sharing
                sophisticated and smart content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="alexander__div--bottom">
        <h3>Alexander Task Scenario</h3>
        <p>
          Alexander recieves and shares Nicolas’ post onto his social media
          platforms. Then views the top performing posts based on
          comments/retweets so he can do better in the future.
        </p>
      </div>
    </section>

    <!-- SECTION 9 - IDENTITY -->
    <section class="identity">
      <h2>Adding Identity</h2>
      <div class="identity--content">
        <div class="identity__div--left">
          <div class="left__div--brand">
            <h5>Brand</h5>
            <img
              src="../assets/images/magnettu/magnettu-logo.png"
              class="brand__img brand__img--logo"
              alt="logo text"
            />
            <img
              src="../assets/images/magnettu/multi-magnettu-logo.png"
              class="brand__img brand__img--multi"
              alt="different logos"
            />
          </div>
          <div class="left__div--colors">
            <h5>Colors</h5>
            <img
              src="../assets/images/magnettu/palette.png"
              alt="color palette"
            />
          </div>
        </div>

        <div class="identity__div--right">
          <div class="div__right--top">
            <div class="top__div--font">
              <h5>Family Font</h5>
              <p class="font__p--regular">Raleway Regular 400</p>
              <p class="font__p--medium">Raleway Medium 500</p>
              <p class="font__p--semibold">Raleway SemiBold 600</p>
              <p class="font__p--bold">Raleway Bold 700</p>
            </div>
            <div class="top__div--icons">
              <h5>Icons</h5>
              <div class="top__icons">
                <img
                  src="../assets/images/magnettu/icons.png"
                  alt="cisco logo"
                />
              </div>
            </div>
          </div>
          <div class="div__right--bottom">
            <h5>Components</h5>
            <img
              src="../assets/images/magnettu/components.png"
              alt="components picture"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 10 - MID-FI -->
    <section class="midfi">
      <h2>Mid-Fi</h2>
      <div class="midfi__div--wrapper">
        <div class="wrapper--left">
          <h3>Marketing Landing Page</h3>
          <img
            src="../assets/images/magnettu/landingPage.png"
            alt="landing page screengrab"
          />
        </div>
        <div class="wrapper--right">
          <div>
            <h3>Manager's Dashboard</h3>
            <img
              src="../assets/images/magnettu/manager.png"
              alt="manager's dashboard screengrab"
            />
          </div>
          <div>
            <h3>New Post</h3>
            <img
              src="../assets/images/magnettu/post.png"
              alt="new post screengrab"
            />
          </div>
          <div>
            <h3>user's Dashboard</h3>
            <img
              src="../assets/images/magnettu/user.png"
              alt="user's dashboard screengrab"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 11 - TEST -->
    <section class="test">
      <h2>Test, Iterate and Repeat</h2>
      <div class="test__div--wrapper">
        <p>
          With the Mid-Fi ready, we began a usability testing sprint for three
          days with potential users. After conducting more than
          <span> 20 usability tests </span> we came across plenty of design
          faults and patterns that needed to be redesigned to meet user’s
          intuitions, familiarity, and wants. I decided to shed light to the
          <span>3 main iterations</span> from the many that we had and will
          still do.
        </p>
        <h3>1.0 User Dashboard</h3>
        <p>
          <span>17</span> users wanted to easily access posts that have been
          shared, as well as filter the content cards based on category.
        </p>
        <div class="div--italic">
          <p>
            ”How can I filter the content to just see news or my company
            content?”
          </p>
          <p>“Where can I see the content I’ve shared?”</p>
        </div>

        <img
          src="../assets/images/magnettu/welcome.png"
          alt="welcome back scren"
        />
        <div class="wrapper--link">
          <p>
            We listened to our users and introduced <span>sorting</span> and
            <span>filtering</span> tools!
          </p>
        </div>
        <img
          src="../assets/images/magnettu/filtered.png"
          alt="filtered tools adding page"
          class="img--filtered"
        />
        <h3>2.0 Scheduling Posts</h3>
        <p>
          <span>12</span> users wanted the ability to schedule posts and or
          <span>save as drafts</span>, because in our initial design users were
          only able to share the post on-the-spot.
        </p>
        <p class="paragraph--overwhelming">
          We added the ability to save as a draft and conducted more testing,
          and the responses we got were
          <i> “its overwhelming” “too many decision making” </i>. Therefore we
          decided to not do a ‘Save as Draft’ feature and rely on the favorites
          and scheduling features, where users will then have the ability to
          come back to it.
        </p>
        <div class="wrapper--post">
          <div class="post--top">
            <img
              src="../assets/images/magnettu/drag.png"
              alt="post screengrab"
            />
            <div>
              <p>
                “What if I want to save a draft or schedule it to post tomorrow
                morning?”
              </p>
              <p>“I’m hesitant about this post, can I save it as a draft?”</p>
            </div>
          </div>
          <div class="test__line"></div>
          <div class="post--bottom">
            <img
              src="../assets/images/magnettu/schedule.png"
              alt="scheduling screengrab"
            />
            <p>
              Ability to <span>schedule</span> posts and <span>edit</span> them
              using the schedule feature.
            </p>
          </div>
        </div>
        <h3>3.0 Content Cards</h3>
        <p>
          We initially designed the content cards with a huge emphasis and focus
          on <span>hover</span>. Throughout usability testing, users didn’t know
          how to <span>‘Favorite’</span> and <span>‘Share’</span>. So we
          redesigned content cards to always present actions at all times.
          Furthermore, made alterations to the colors to align with the brand
          identity and be less overwhelming.
        </p>
        <div class="wrapper--suggestion">
          <img
            src="../assets/images/magnettu/suggestion.png"
            alt="suggestion screengrab"
          />
          <div class="suggestion--right">
            <h3>You, yes you! Hover on me!</h3>
            <p>Before</p>
            <a>Hover State</a>
            <div class="suggestion--before">
              <p>“What if im using a tablet or smartphone?”</p>
              <p>
                “I accidently figured it out by moving my mouse around the
                screen, however it was not intuitive.”
              </p>
            </div>
          </div>
        </div>
        <div class="test__line"></div>
        <div class="wrapper--redesigned">
          <div class="redesigned--right">
            <p>After</p>
            <p>Default State</p>
            <p>
              “Redesigned to be compatible to all devices and meet user’s
              intuitions.
            </p>
          </div>
          <img src="../assets/images/magnettu/new.png" alt="new screengrab" />
        </div>
      </div>
    </section>

    <!-- SECTION 12 - NEXT -->
    <section class="next">
      <h3>What’s Next? (Besides testing, testing, and more testing)</h3>
      <div class="next__div--wrapper">
        <div>
          <img src="#" alt="rewards logo" />
          <p>Design the Rewards and Rankings page for users and managers</p>
        </div>
        <div>
          <img src="#" alt="meta logo" />
          <p>
            Introduce the ability to share on more social media platforms (e.g
            Instagram, Facebook)
          </p>
        </div>
        <div>
          <img src="#" alt="restrict logo" />
          <p>
            Allow brand managers to restrict and censor content(e.g politics,
            inappropriate words)
          </p>
        </div>
        <div>
          <img src="#" alt="mobile logo" />
          <p>Craft and design a mobile and tablet version of Magnettü</p>
        </div>
      </div>
    </section>

    <!-- SECTION 12 - PROTOTYPE -->
    <section class="prototype">
      <h2>Prototype</h2>
    </section>
  </body>
</html>
