<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/minventory/minventory.css" />
    <title>Minventory</title>
  </head>

  <body>
    <!-- SETCION 1 - HERO -->
    <section class="hero">
      <div class="hero__container">
        <div class="hero__text">
          <h1>Sass Web App</h1>
          <p>An effective, seamless tool to track materials and professional inventory.</p>
        </div>
        <div class="hero__line"></div>
      </div>
      
      <img
        src="../assets/images/portfolio/minventory.svg"
        alt="minventory screengrab"
        class="hero__image"
      />
    </section>

    <!-- SECTION 2 - SPECS -->
    <section class="specs">
      <div class="specs__container">
        <div class="specs__text specs__text--left">
          <div class="text__left--top">
            <h3">Team Size</h3>
            <p>
              Individual
            </p>
          </div>
          <div class="text__left--bottom">
            <h3">Duration</h3>
            <p>
              Spring 2022
            </p>
            <p>
              1 Week
            </p>
          </div>
        </div>
        <div class="specs__text specs__text--center">
          <h3>Responsabilities</h3>
          <ul>
            <li>Research</li>
            <li>Affinity Mapping</li>
            <li>User Flows</li>
            <li>Sketching</li>
            <li>Usabitlity</li>
            <li>Mid-fi</li>
            <li>Hi-fi Prototype</li>
          </ul>
        </div>
        <div class="specs__text specs__text--right">
          <h3>Materials</h3>
          <ul>
            <li>Index Cards</li>
            <li>Pen and Paper</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - OVERVIEW -->
    <section class="overview">
      <div class="overview__container">
        <h3>Project Overview</h3>
        <p>
          The challenge of this project was to build a desktop web app/product to help professional teams get their work done more effectively.
        </p>
      </div>
    </section>

    <!-- SECTION 4 - BACKGROUND -->
    <section class="background">
      <h1>Background</h1>
      <div class="background__text">
        <div class="text--top">
          <h3>Problem Statement</h3>
          <p><snap>Small businesses</snap> with limited budgets, spend time and money for <snap>material-inventory bookeeping</snap> yet end up losing clients and consistency. Hence, want to keep the business running and prevent interruptions.</p>
        </div>
        <div class="text--bottom">
          <h3>Hypothesis</h3>
          <p>A B2B tool to <snap>track</snap> and <snap>manage professional inventory</snap> by integrating with POS systems to <snap>calculate when and how</snap> much inventory is needed to keep businesses running without interruptions.</p>
        </div>
      </div>
    </section>

    <!-- SECTION 5 - RESEARCH -->
    <section class="research">
      <h2>Research</h2>
      <div class="research__text">
        <p>
          I chose to focus on small businesses, mainly because they were <span>impacted the most by the pandemic</span> and there isn’t a lot of SaaS tools targeted for them. 
        </p>
        <h3>Interviews</h3>
        <p>I conducted <snap>10</snap> interviews with <snap>managers</snap> and/or <snap>owners</snap> of small to medium <snap>spas</snap>, <snap>dental clinics</snap>, and <snap>beauty centers</snap> in 7 different locations around the world.</p>
        <div class="research__bottom">
          <div class="bottom__text">
            <p>
              Each interview took approximately <snap>15-20 minutes</snap> and was initiated by asking them the following question:
            </p>
            <p>
              “Could you walk me through an exhaustive management task at your business?”
            </p>
            </div>
            <img
                src="../assets/images/minventory/research_illustration.svg"
                alt="research illustration image"
                class="research__image"
              />
        </div>
      </div>
      
    </section>

    <!-- SECTION 6 - INSIGHTS -->
    <section class="insights">
      <h3>Inisghts</h3>
      <div class="insights__content">
        <p>Although the interviews were with business owners from different backgrounds and markets, I was fascinated that there were common patterns when it came to their pain-points.</p>
        <div class="insights__images">
          <img src="../assets/images/minventory/insights_left.svg" alt="">
          <img src="../assets/images/minventory/insights_right.svg" alt="">
        </div>
      </div>
    </section>

    <!-- SECTION 7 - SYNTHESIS -->
    <section class="synthesis">
      <h2 class="synthesis__title">Synthesis and Ideaditon</h2>
      <div class="synthesis__content">
        <div class="synthesis__text">
          <p>After gathering all the insights, I began to formulate the user personas, to be able to design the prototype with the user in mind.</p>
          <h3>User Personas</h3>
          <p>I came up with two user personas. What’s different is that they own different businesses, one is a beauty center and the other is a dental clinic. However, for the flow, I will focus on Brianna as her business is more complex and if we solve her problems, all other businesses’ problems will be solved.</p>
        </div>
        <div class="synthesis__persona synthesis__persona--brianna">
          <img src="../assets/images/minventory/brianna_photo.svg" alt="briana photo" class="synthesis__photo photo--brianna">
          <div class="synthesis__container">
            <h1>Brianna</h1>
            <p>Entrepeneur Beauty Center</p>
            <div class="brianna__container">
              <div class="brianna__container--left">
                <div class="brianna__container--about">
                  <h5>ABOUT</h5>
                  <div class="brianna__icon--person"><p>Age 35</p></div>
                  <div class="brianna__icon--business"><p>Cosmetician</p></div>
                  <div class="brianna__icon--location"><p>London, UK</p></div>
                  <div class="brianna__icon--home"><p>Single</p></div>
                </div>
                <div class="brianna__container--frustrations">
                  <h5>FRUSTRATIONS</h5>
                  <p>Many materials to keep track. Does bookkeeping herself every day afterhours.</p>
                  <p>Hates when employees use too much of one material.</p>
                  <p>Only accepts appointments and ends up changing them because of shortage of material. </p>
                </div>
              </div>
              <div class="brianna__container--right">
                <h5>BIO</h5>
                <p>Brianna lives alone in Central London and owns a Beauty Spa with her business partner Allison. Briana is not familiar with the inventory tracking aspect of the business. She has 8 employees.</p>
                <h5>GOALS</h5>
                <p>Not waste any material.Easily know when materials and supplies will finish/expire so she can order more.
                Organize how and when she should go inventory shopping.</p>
                <h5>SasS Brands</h5>
                <div class="synthesis__brand-icons">
                  <img src="../assets/images/minventory/phorest_icon.png" alt="pharest icon">
                  <img src="../assets/images/minventory/zendesk_icon.png" alt="zendesk icon" class="synthesis__brand-icons--zendesk">
                  <img src="../assets/images/minventory/square_icon.png" alt="square icon">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="synthesis__persona synthesis__persona--clara">
          <img src="../assets/images/minventory/clara_photo.svg" alt="clara photo" class="synthesis__photo photo--clara" >
          <div class="synthesis__container">
            <h1>Clara</h1>
            <p>Owner Dental Clinic</p>
            <div class="clara__container">
              <div class="clara__container--left">
                <div class="clara__container--about">
                  <h5>ABOUT</h5>
                  <div class="clara__icon--person"><p>Age 46</p></div>
                  <div class="clara__icon--business"><p>Dentist</p></div>
                  <div class="clara__icon--location"><p>Barcelona, Spain</p></div>
                  <div class="clara__icon--home"><p>Married with 2 children</p></div>
                </div>
                <div class="clara__container--frustrations">
                  <h5>FRUSTRATIONS</h5>
                  <p>Low cost suppliers require at least 1 week notice for orders.</p>
                  <p>The inventory bookkeeper comes weekly</p>
                  <p>All material needs to be fresh and stored in cold temperatures.</p>
                  <p>Hates when material is expired or finished and has upcomming appointments.</p>
                </div>
              </div>
              <div class="clara__container--right">
                <h5>BIO</h5>
                <p>Clara is a dentist that opened her own Dental Clinic on 2018 that was tragically affected by the pandemic. Clara spent her life savings on the business and is married to it. She has 12 employees.</p>
                <h5>GOALS</h5>
                <p>Easily know when materials and supplies will finish/expire so she can order more.</p>
                <p>Keep clients happy and keep businesss running smoothly.</p>
                <h5>SasS Brands</h5>
                <div class="synthesis__brand-icons">
                  <img src="../assets/images/minventory/zendesk_icon.png" alt="pharest icon">
                  <img src="../assets/images/minventory/zenoti.png" alt="zendesk icon" class="synthesis__brand-icons--zendesk">
                  <img src="../assets/images/minventory/mantra.png" alt="square icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 9 - SCENARIO -->
    <section class="scenario">
      <div class="scenario__text">
        <h2>Scenario</h2>
        <p>Brianna purchased materials for a new service she is implementing in her beauty center and will manually input the details to the tacking system.</p>
      </div>
    </section>

    <!-- SECTION 10 - PROTOTYPING -->
    <section class="prototyping">
      <h2>Prototyping</h2>
      <div class="prototyping__container">
        <div class="prototyping__content prototyping__content--lofi">
          <h3>Lo-Fi</h3>
            <div class="lofi__content">
              <div class="lofi__content--left">
                <img src="../assets/images/minventory/dashboard.jpg" alt="dashboard photo">
                <p>Dashboard</p>
              </div>
              <div class="lofi__content--right">
                <img src="../assets/images/minventory/inventory.jpg" alt="inventory photo">
                <p>Inventory</p>
              </div>
            </div>          
        </div>
        <div class="prototyping__content prototyping__content--mifi">          
          <h3>Mid-Fi</h3>
          <div class="midfi__content">
            <img src="../assets/images/minventory/dashboard-midfi.jpg" alt="dashboard photo midfi">
            <img src="../assets/images/minventory/inventory-midfi.jpg" alt="inventory photo midfi">
            <img src="../assets/images/minventory/addmenu-midfi.jpg" alt="add menu item photo midfi">
            <img src="../assets/images/minventory/menu-midfi.jpg" alt="menu photo midfi">
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 11 - USABILITY -->
    <section class="usability">
      <h2>Usability Tests and Iterations</h2>
      <div class="usability__container">
        <div class="usability__content usability__content--service">
          <h3>Adding New Service</h3>
          <div class="usability__content--top">
            <img src="" alt="">
            <img src="" alt="">
            <p>“I am concerned about why this needs to be two seperate screens.”</p>
            <p>Initially I had two different screens for adding a new item to the menu of services. However users were annoyed of the amount of steps taken to complete a simple task.</p>
          </div>
          <div class="usability__content--bottom">
            <p>So I redesigned it all to fit into a screen. One simple screen with components and variants. </p>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 12 - NEXT PHASE -->
    <section class="next-phase">
      <h2>V.2 Next Phase</h2>
      <div class="hero__line"></div>
      <div class="next-phase__content">
        <div class="next-phase__content--left">
          <h3>UX / UI</h3>
          <p>Test, test, test and test.</p>
          <p>Adding a “Edit Widgets” button to allow users to change the visuals of graphs/charts.</p>
          <p>Change the red, yellow, and green status signals to accomodate those who are color blind.
          </p>
          <img src="../assets/images/minventory/banner.svg" alt="banner image">
        </div>
        <div class="next-phase__content--right">
          <h3>Business</h3>
          <p>Scan the web and alert you if there is a cheaper supplier. </p>
          <p>Be able to send and make orders based on approval.</p>
        </div>
      </div>
    </section>
    
    <!-- SECTION 13 - FINAL PRODUCT -->
    <section class="final-product">
      <h2>Final Product</h2>
    </section>
  </body>
</html>
