@import "../abstracts/colors";
@import "../abstracts/variables";

.hero {
  display: flex;
  justify-content: center;

  padding: 3em 0;

  .hero__div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35%;

    letter-spacing: 0.04em;

    h1 {
      font-size: $f-s-800;
      color: $clr-primary-light;

      margin: 0;
    }

    p {
      font-size: $f-s-600;
      margin: 0.2em;
    }

    span {
      font-weight: $f-w-600;
    }
  }

  img {
    width: 40%;
  }

  width: 100%;
}

.overview {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 2rem;

  background-color: $clr-background-grey-light;

  .overview__div {
    display: flex;
    gap: 2em;

    width: 80%;

    padding: 0 2em;

    h3 {
      font-size: $f-s-380;

      margin: 0.2em 0;
    }

    p {
      font-size: $f-s-340;

      margin: 0;

      line-height: 1.6em;
      letter-spacing: 0.04em;
    }

    .overview__div--left {
      display: flex;
      flex-direction: column;

      width: 40vw;
    }

    .overview__div--right {
      display: flex;
      gap: 1em;

      width: 40vw;
    }

    .overview__div--rightone {
      display: flex;
      flex-direction: column;
      gap: 1em;

      width: 15vw;
    }

    .overview__div--righttwo {
      display: flex;
      flex-direction: column;
      gap: 1em;

      width: 15vw;

      .overview__div--righttwo--team {
        ul {
          padding-left: 0;
        }

        li {
          font-size: $f-s-340;

          list-style: none;
        }
      }
    }
  }
}

.first {
  margin: 3em auto;
  width: 90%;

  h2 {
    font-size: $f-s-400;

    color: $clr-primary-light;

    margin-left: 5em;
  }

  .first__div {
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: 0 auto;

    .div__title {
      font-size: $f-s-380;
      font-weight: $f-w-600;

      margin-bottom: 0.5em;
    }

    .div__paragraph {
      font-size: $f-s-380;

      line-height: 1.6em;
      letter-spacing: 0.04em;

      margin-top: 0;
      span {
        font-weight: $f-w-700;
      }
    }
  }
}

.hypothesis {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 3em 0;

  background-color: $clr-primary-light;
  color: $clr-background-white;

  .hypothesis__paragraph {
    font-weight: $f-w-500;

    margin: 0 13em 2em;

    line-height: 1.6em;
    letter-spacing: 0.04em;
  }

  .hypothesis__button {
    input {
      font-size: $f-s-340;
      font-weight: $f-w-600;
      color: $clr-primary-light;

      padding: 0.5em 1.3em;

      border: none;
      border-radius: 0.2em;
    }
  }
}

.audience {
  margin: 3em auto;
  width: 90%;

  h2 {
    font-size: $f-s-500;

    color: $clr-primary-light;

    margin-left: 5em;
  }

  .audience__div {
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: 0 auto;

    h3 {
      font-size: $f-s-400;
    }

    p {
      line-height: 1.6em;
      letter-spacing: 0.04em;

      span {
        font-weight: $f-w-600;
      }
    }

    a {
      font-weight: $f-w-500;
      color: $clr-primary-light;
      text-decoration: underline;
    }

    & > div {
      display: flex;

      div {
        width: 35vw;
      }

      img {
        width: 30vw;
        max-height: 17em;

        margin-top: 2em;
      }
    }

    .audience__div--bottom {
      display: flex;
      gap: 3em;
    }
  }
}

.findings {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  .findings__div {
    display: flex;
    flex-direction: column;

    width: 40vw;

    .div__blocks {
      border: 2px solid black;
      display: flex;
      align-content: center;
      gap: 2em;

      img {
        width: 15vw;
      }
    }
  }

  width: 100%;
  background-color: $clr-background-grey-dark;
}

.nicolas {
  .nicolas__div--medium {
    display: flex;

    width: 100%;
    border: 2px solid brown;

    img {
      width: 50vw;
    }

    .medium__content {
      width: 50vw;

      .content--bottom {
        display: flex;
      }
    }
  }

  width: 100%;
  background-color: cadetblue;
}

.alexander {
  .alexander__div--medium {
    display: flex;

    width: 100%;
    border: 2px solid brown;

    img {
      width: 50vw;
    }

    .medium__content {
      width: 50vw;

      .content--bottom {
        display: flex;
      }
    }
  }

  width: 100%;
  background-color: yellowgreen;
}

.identity {
  width: 100%;
  background-color: crimson;

  .identity--content {
    display: flex;

    .identity__div--left {
      width: 35vw;
    }

    .identity__div--right {
      width: 60vw;
      border: 2px solid blueviolet;

      .div__right--top {
        display: flex;

        .top__div--font {
          width: 30vw;
        }

        .icons--wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 0px 0px;
          grid-template-areas:
            ". . ."
            ". . ."
            ". . .";
        }
      }
    }
  }
}

.midfi {
  width: 100%;
  background-color: blanchedalmond;
  .midfi__div--wrapper {
    display: flex;
  }
}

.test {
  width: 100%;
  background-color: firebrick;
}

.next {
  width: 100%;
  background-color: gold;
}

.prototype {
  width: 100%;
  background-color: aqua;
}
