@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.hero {
  display: flex;
  justify-content: space-between;

  padding: 3em 5em;

  &__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include base {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    letter-spacing: 0.04em;

    h1 {
      font-size: $f-s-800;
      color: $clr-primary-light;

      margin: 0;

      @include base {
        font-size: $f-s-700;
        text-align: center;
      }
    }

    p {
      font-size: $f-s-600;
      margin: 0.2em;

      @include base {
        padding-bottom: 1em;

        font-size: $f-s-500;
        text-align: center;
      }
    }

    span {
      font-weight: $f-w-600;
    }
  }

  &__image {
    max-width: 40vw;

    @include base {
      max-width: 65vw;
    }
    img {
      max-width: 100%;
    }
  }
}

.overview {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: $clr-background-grey-light;
  &__div {
    display: flex;
    justify-content: space-evenly;

    padding: 1em 0;

    h3 {
      font-size: $f-s-400;

      margin: 0.2em 0;
    }

    p {
      font-size: $f-s-400;

      margin: 0;

      line-height: 1.6em;
      letter-spacing: 0.04em;
    }

    &--left {
      display: flex;
      flex-direction: column;

      width: 40vw;

      @include base {
        width: 85%;
        margin: 1em auto;
      }
    }

    &--right {
      display: flex;
      justify-content: space-evenly;
      gap: 1em;

      width: 40vw;

      @include base {
        width: 85%;
        margin: 0 auto;
      }
    }

    &--rightone {
      display: flex;
      flex-direction: column;
      gap: 1em;

      width: 15vw;
      @include base {
        width: 100%;
      }
    }

    &--righttwo {
      display: flex;
      flex-direction: column;
      gap: 1em;

      width: 15vw;

      @include base {
        width: 100%;
      }

      &--team {
        ul {
          margin-top: 0;
          padding-left: 0;
        }

        li {
          font-size: $f-s-400;

          list-style: none;
        }
      }
    }
    @include base {
      display: flex;
      flex-direction: column;

      width: 100%;
    }
  }
}

.first {
  margin: 2em auto;
  width: 90%;

  h2 {
    margin-bottom: 0;
    margin-left: 5em;
    color: $clr-primary-light;

    font-size: $f-s-600;

    @include base {
      margin-left: 0.5em;
    }
  }

  p {
    letter-spacing: 0.05em;
  }

  &__div {
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: 0 auto;

    @include base {
      width: 85%;
    }

    &__title {
      font-size: $f-s-380;
      font-weight: $f-w-600;

      margin-bottom: 0.5em;
    }

    &__paragraph {
      font-size: $f-s-380;

      line-height: 1.6em;
      letter-spacing: 0.04em;

      margin-top: 0;

      span {
        font-weight: $f-w-700;
      }
    }
  }
}

.hypothesis {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 1em 0;

  background-color: $clr-primary-light;
  color: $clr-background-white;

  h2 {
    margin-bottom: 0;
  }

  .hypothesis__paragraph {
    width: 75%;
    margin-bottom: 2em;

    font-weight: $f-w-500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
  }

  .hypothesis__button {
    padding-bottom: 1.5em;
    input {
      padding: 1em 1.3em;
      color: $clr-primary-light;

      font-size: $f-s-340;
      font-weight: $f-w-600;

      border: none;
      border-radius: 0.2em;
    }
  }
}

.audience {
  width: 80%;
  margin: 0 auto;

  h2 {
    margin-left: 5em;
    color: $clr-primary-light;

    @include base {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;

    h3 {
      font-size: $f-s-500;
    }

    p {
      line-height: 1.6em;
      letter-spacing: 0.04em;

      span {
        font-weight: $f-w-600;
      }
    }

    a {
      font-weight: $f-w-500;
      color: $clr-primary-light;
      text-decoration: underline;
    }

    & > div {
      display: flex;

      div {
        width: 35vw;
      }

      img {
        width: 30vw;
        max-height: 17em;

        margin-top: 2em;
      }
    }

    &--bottom {
      display: flex;
      justify-content: center;
      gap: 2em;

      
    }
  }
}

.findings {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  width: 100%;
  background-color: $clr-background-grey-dark;

  h3 {
    font-size: $f-s-440;
  }

  p {
    font-size: $f-s-400;
    font-weight: $f-w-400;

    line-height: 1.6em;
    letter-spacing: 0.04em;
  }

  .findings__div {
    display: flex;
    flex-direction: column;

    width: 50vw;

    .div__blocks {
      display: flex;
      align-items: center;
      gap: 3em;
    }

    span {
      font-weight: $f-w-600;
    }
  }

  .div__blocks--four {
    padding: 1em;

    img {
      max-height: 6.4em;
      padding-left: 0.9em;
    }
  }

  .div__blocks--eight {
    display: flex;

    padding: 1em;

    img {
      max-height: 2.9em;
      padding-left: 3em;
    }
  }

  .div__blocks--seven {
    display: flex;

    padding: 1em;

    img {
      max-height: 2.9em;
      padding-left: 3em;
    }
  }
}

.nicolas {
  display: flex;
  flex-direction: column;

  margin: 3em auto;
  width: 80%;

  h1 {
    font-size: $f-s-1240;
  }

  h3 * {
    font-size: $f-s-400;
  }

  p {
    line-height: 1.6em;
    letter-spacing: 0.04em;

    span {
      font-weight: $f-w-600;
    }
  }

  .nicolas__div--medium {
    display: flex;

    width: 100%;

    img {
      min-height: 30em;
      width: 20vw;

      object-fit: cover;
    }

    .medium__content {
      width: 50vw;

      font-weight: $f-w-500;

      color: $clr-primary-light;

      & > p {
        font-weight: $f-w-700;
      }

      h3 {
        border-bottom: 0.1em solid $clr-primary-light;
      }

      .content--bio {
        width: 45%;
      }

      .content--bottom {
        display: flex;
        gap: 2em;

        .bottom--pain {
          width: 45%;
        }
      }
    }
  }

  .nicolas__div--bottom {
    margin-top: 5em;

    span {
      color: $clr-background-grey-dark;
    }
  }
}

.alexander {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: $clr-background-grey-dark;

  h1 {
    font-size: $f-s-1240;
  }

  h3 * {
    font-size: $f-s-400;
  }

  .alexander__div--medium {
    display: flex;

    width: 80%;

    margin: 3em auto;

    color: $clr-primary-light;

    p {
      line-height: 1.6em;
      letter-spacing: 0.04em;

      font-weight: $f-w-600;
    }

    img {
      min-height: 30em;
      width: 20vw;

      object-fit: cover;
    }

    .medium__content {
      width: 50vw;

      h3 {
        border-bottom: 0.1em solid $clr-primary-light;
      }

      & > p {
        font-weight: $f-w-700;
      }

      .content--bio {
        width: 42%;
      }

      .content--bottom {
        display: flex;
        gap: 2em;
      }
    }
  }

  .alexander__div--bottom {
    width: 80%;

    margin: 0 auto;
    padding-bottom: 5em;
  }
}

.identity {
  width: 80%;

  margin: 0 auto;
  padding: 3em 0;

  h2,
  h5 {
    color: $clr-primary-light;
  }

  .identity--content {
    display: flex;

    .identity__div--left {
      width: 35vw;

      img {
        margin-bottom: 3em;
      }

      .brand__img--logo {
        width: 10vw;
      }

      .brand__img--multi {
        width: 10vw;
      }

      .left__div--colors {
        img {
          width: 20vw;
        }
      }
    }

    .identity__div--right {
      width: 60vw;

      .div__right--top {
        display: flex;

        .top__div--font {
          width: 30vw;

          .font__p--regular {
            font-size: $f-s-500;
            font-weight: $f-w-400;
          }

          .font__p--medium {
            font-size: $f-s-500;
            font-weight: $f-w-500;
          }

          .font__p--semibold {
            font-size: $f-s-500;
            font-weight: $f-w-600;
          }

          .font__p--bold {
            font-size: $f-s-500;
            font-weight: $f-w-700;
          }
        }
      }
    }
  }
}

.midfi {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 3rem 0;

  background-color: $clr-background-grey-dark;

  h2 {
    margin-left: -67.5em;
  }

  .midfi__div--wrapper {
    display: flex;
    gap: 2em;

    width: 80%;

    h3 {
      font-size: $f-s-400;
      font-weight: $f-w-500;

      margin-left: 0.5em;
      margin-bottom: 0;
    }

    img {
      margin: 0;
    }

    .wrapper--right {
      display: flex;
      flex-direction: column;
      gap: 3.6em;
    }
  }
}

.test {
  margin: 5em auto;
  width: 85%;

  h2 {
    color: $clr-primary-light;
  }

  .test__div--headline {
    p {
      width: 85%;

      margin: 0 auto;
    }
  }

  .test__div--content {
    width: 90%;

    margin: 0 auto;
    padding: 1em;

    & > p {
      padding-bottom: 1em;
    }

    span {
      font-weight: $f-w-700;
    }

    .div--italic {
      padding: 1em 0;

      p {
        font-style: italic;
        text-align: center;

        color: $clr-primary-light;
      }
    }

    .wrapper--link {
      font-size: $f-s-500;
      font-weight: $f-w-400;
      text-align: center;

      width: 30%;

      margin: 0 auto;
      padding: 2em 0;

      color: $clr-primary-light;
    }

    .img--filtered {
      padding-bottom: 5em;
    }

    .paragraph--overwhelming {
      i {
        color: $clr-primary-light;
      }
    }

    .content--2scheduling {
      .wrapper--post {
        padding-bottom: 7em;

        img {
          width: 40%;
        }

        .post--top {
          display: flex;
          align-items: center;

          img {
            margin: 0 2em 0 10em;
          }

          p {
            font-size: $f-s-400;
            font-style: italic;

            color: $clr-primary-light;
          }
        }

        .test__line {
          width: 70%;

          margin: 3em auto;

          border: 0.05em solid $clr-background-grey-light;
        }

        .post--bottom {
          display: flex;
          align-items: center;

          img {
            margin: 0 2em 0 10em;
          }

          p {
            font-size: $f-s-480;
            color: $clr-primary-light;
          }

          span {
            font-weight: $f-w-600;
          }
        }
      }
    }

    .content--3content {
      .wrapper--suggestion {
        display: flex;
        justify-content: center;
        gap: 1em;

        margin: 4em 0;

        img {
          width: 18vw;
        }

        .suggestion--content {
          width: 35%;

          h3 {
            font-size: $f-s-500;

            width: 50%;

            color: $clr-primary-light;
          }

          .content--bottom {
            margin: 0 0 0 4em;

            & > p {
              font-weight: $f-w-800;

              margin-bottom: 0;
            }

            a {
              margin: 0;
            }

            .content--italic {
              font-style: italic;

              color: $clr-primary-light;
            }
          }
        }
      }

      .test__line {
        width: 70%;

        margin: 3em auto;

        border: 0.05em solid $clr-background-grey-light;
      }

      .wrapper--redesigned {
        display: flex;
        justify-content: center;
        gap: 2em;

        img {
          width: 18vw;
        }

        .redesigned--left {
          display: flex;
          flex-direction: column;
          justify-content: center;

          width: 25%;
          & > p {
            margin: 0 0 1em;
          }
        }

        .paragraph--pink {
          font-style: italic;

          color: $clr-primary-light;

          span {
            font-weight: $f-w-600;
          }
        }
      }
    }
  }
}

.next {
  width: 85%;

  margin: 0 auto 5em auto;

  h2 {
    color: $clr-primary-light;
  }

  .next__div--container {
    width: 80%;

    margin-left: 3em;

    .next__section {
      display: flex;
      gap: 2em;
      align-items: center;

      img {
        max-height: 1.2vh;
      }
    }

    .next__section--meta {
      img {
        max-height: 0.8vh;
      }
    }
  }
}

.prototype {
  width: 90%;

  margin: 0 auto;

  color: $clr-primary-light;
}

// Media queries
@media screen and(max-width: 480px) {
  .hero__card {
    flex-direction: column;
  }
}
