@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../../base-layer/local/abstracts/breakpoints";

.hero {
  display: flex;
  justify-content: center;

  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0;

  @include phone {
    flex-direction: column;
  }
  h1 {
    font-size: $f-s-800;
    font-weight: $f-w-600;

    margin: 0;
  }

  p {
    margin: 0.6em 0;

    letter-spacing: 0.04em;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    @include phone { 
      width: 100%;
    }
  }

  &__image {
    display: flex;

    width: 50%;

    @include phone {
      width: 70%;
      margin: 0 auto;
    }
    img {
      width: 100%;
    }
  }
}

.specs {
  padding: 5em;

  background-color: $clr-background-grey;

  @include phone { 
    padding: 2em;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

  ul {
    margin-top: 0;
    padding: 0;

    list-style-type: none;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;

    max-width: 1201px;
    margin: 0 auto;

    @include phone {
      flex-direction: column;

      width: 80%;
    }
  }
}

.overview {
  text-align: center;

  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0;

  p {
    font-size: $f-s-480;
    line-height: 2em;
  }
}

.background {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0;

  h1 {
    padding-bottom: 1em;
  }

  h3 {
    margin-bottom: 0.7em;
  }

  p {
    margin-top: 0;

    line-height: 1.5em;
  }

  span {
    font-weight: $f-w-600;
  }

  &__content {
    width: 93%;
    margin: 0 auto;
  }

  .text--top {
    margin-bottom: 3em;
  }
}

.research {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0 0 0;

  h1 {
    padding-bottom: 1em;
  }

  p {
    line-height: 1.5em;
  }

  span {
    font-weight: $f-w-600;
    text-align: center;
  }

  blockquote {
    font-size: $f-s-700;
    font-weight: $f-w-500;

    text-align: center;
  }

  &__content {
    width: 93%;
    margin: 0 auto;
  }

  &__content--interviews {
    padding-bottom: 3em;
  }

  .insights__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 2em;

    img {
      width: 60%;
      padding-bottom: 1em;
    }

    span {
      font-size: $f-s-700;
      font-weight: $f-w-700;

      text-align: center;
    }

    p {
      font-size: $f-s-300;
      font-weight: $f-w-500;
      text-align: center;

      width: 15em;
    }
    .insights__icons--3 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 0 auto;
      }
    }

    .insights__icons--60 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 50%;
        margin: 0 auto;
      }
    }

    .insights__icons--4 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  .insights__quotes {
    width: 55vw;
    margin: 0 auto;

    p {
      text-align: center;
    }

    span {
      display: inline-block;

      width: 100%;
    }
  }
}

.synthesis {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0;

  h2 {
    padding-bottom: 1em;
  }

  p {
    line-height: 1.7em;
  }

  span {
    font-weight: $f-w-600;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
  }

  &__div--affinity {
    padding-bottom: 2em;

    .affinity__list {
      display: flex;
      justify-content: center;

      font-size: $f-s-380;
      font-weight: $f-w-600;
    }

    .affinity__images {
      display: flex;

      h3 {
        text-align: center;
      }

      img {
        width: 100%;
      }
    }

    .affinity__line {
      width: 75%;
      margin: 1em auto 3em auto;

      border-top: 0.2em solid black;
    }
  }

  &__div--persona {
    padding-bottom: 2em;
    img {
      width: 100%;
    }
  }

  &__div--scenario {
    padding-bottom: 2em;

    & > p {
      margin: 0;
    }
  }

  &__div--brainstorming {
    padding-bottom: 2em;

    img {
      width: 55%;
      margin: 2em auto;
    }
  }
}

.prototyping {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;

  h2 {
    padding-bottom: 1em;
  }
  .prototyping__content {
    width: 93%;
    margin: 0 auto;
  }

  .prototyping__images {
    display: flex;
    justify-content: center;
    gap: 2em;

    width: 100%;
    padding-bottom: 3em;

    @include phone {
      gap: 0.2em;
    }
    img {
      width: 23%;
    }
  }
}

.testing {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;

  h2 {
    padding-bottom: 1em;
  }

  p {
    line-height: 1.7em;
  }

  span {
    font-weight: $f-w-600;
  }

  &__content {
    width: 93%;
    margin: 0 auto;
  }

  &__content--cecklist {
    display: flex;
    flex-direction: column;

    img {
      width: 20vw;
    }
  }

  &__content--connections {
    padding-bottom: 3em;
  }

  .navigation__images {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      transform: translateZ(0);
    }
    p {
      margin: 0;

      text-align: center;
    }
  }

  .connections__images {
    display: flex;
    justify-content: center;

    padding-bottom: 3em;

    img {
      width: 60%;
    }
  }

  .checklist__images {
    display: flex;
    justify-content: center;
    gap: 1em;

    padding-bottom: 3em;
  }

  .checklist__images--left {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .checklist__text {
      writing-mode: vertical-lr;
      transform: scale(-1, -1);
      height: 15vh;

      p {
        font-size: $f-s-300;
        line-height: 1em;
      }
    }
  }

  .checklist__images--right {
    display: flex;
    justify-content: center;
  }
}

.final {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;

  padding-bottom: 3em;

  .final__images {
    img {
      width: 93%;
      margin: 0 auto;
    }
  }
}

.next {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;

  padding-bottom: 3em;

  ul {
    width: 93%;
    margin: 0 auto;

    line-height: 1.7em;
  }
}
