@import "../abstracts/colors";
@import "../abstracts/variables";

.hero {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 5em 0 5em 5em;

  h1 {
    font-size: $f-s-600;
    font-weight: $f-w-500;

    margin: 0;
  }

  p {
    font-size: $f-s-400;
    font-weight: $f-w-200;

    margin: 0.6em 0;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero__line {
      height: 0.3em;
      width: 3em;
      margin-top: 1em;
      border-radius: 8em;
      background-image: linear-gradient(
        90deg,
        hsla(245, 96%, 34%, 1),
        hsla(288, 80%, 48%, 1)
      );
    }
  }

  img {
    margin-left: auto;
    display: block;
    width: 60%;
  }
}

.specs {
  width: 100%;
  padding: 5em;

  background-color: $clr-primary-light-blue;

  h4 {
    font-weight: $f-w-500;
    margin-bottom: 0;
  }

  p {
    font-size: $f-s-380;
    font-weight: $f-w-200;

    margin-top: 0;
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    li {
      font-size: $f-s-380;
      font-weight: $f-w-200;
    }
  }

  .specs__container {
    display: flex;
    justify-content: space-evenly;
  }
}

.overview {
  width: 80%;
  margin: 0 auto;
  padding: 5em;

  p {
    font-weight: $f-w-200;
  }
}

.background {
  width: 100%;
  padding: 5em;
  background-color: $clr-primary-blue;
  color: $clr-white;

  h4 {
    font-weight: $f-w-500;
    margin-bottom: 0;
  }

  p {
    font-size: $f-s-380;
    font-weight: $f-w-200;
  }

  span {
    font-weight: $f-w-600;
  }

  .background__content {
    width: 80%;
    margin: 0 auto;
  }

  .text--top {
    margin-bottom: 3em;
  }
}

.research {
  width: 100%;
  margin: 0 auto;
  padding: 5em;

  h4 {
    font-weight: $f-w-500;
    margin-bottom: 1em;
  }

  p {
    width: 90%;
    margin: 0 auto;

    font-size: $f-s-380;
    font-weight: $f-w-200;
  }

  span {
    font-weight: $f-w-600;
  }

  .research__content {
    width: 80%;
    margin: 0 auto;
  }

  .research__bottom {
    display: flex;
    align-items: center;

    p {
      width: 80%;
    }
    .research__image {
      width: 30vw;
    }
  }
}

.insights {
  width: 100%;
  margin: 0 auto;
  padding: 5em;
  background-color: $clr-grey;

  h4 {
    font-weight: $f-w-500;
  }

  p {
    font-size: $f-s-380;
    font-weight: $f-w-200;
  }

  .insights__container {
    width: 90%;
    margin: 0 auto;
  }

  .insights__content {
    width: 80%;
    margin: 0 auto;
  }

  .insights__images {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    justify-items: center;
    img {
      width: 20vw;
    }
  }
}

.synthesis {
  width: 90%;
  margin: 0 auto;
  padding: 5em;

  h4 {
    margin-bottom: 0;

    font-weight: $f-w-500;
  }

  p {
    line-height: 1.7em;

    font-size: $f-s-380;
    font-weight: $f-w-200;
  }

  .synthesis__text {
    p {
      margin: 0;
    }
  }
}

.synthesis__content {
  width: 80%;
  margin: 0 auto;

  .synthesis__persona {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 1em 0;

    h5 {
      width: 20vw;
      border-bottom: 0.1em solid $clr-grey;
    }

    img {
      width: 22vw;
    }

    .persona__content {
      .persona__content--top {
        display: flex;
        gap: 1em;
        .persona__container--about {
          .persona__icon--person {
            p {
              &:before {
                content: url("../../../assets/images/minventory/person_icon.png");

                padding-right: 1em;
              }
            }
          }
          .persona__icon--business {
            p {
              &:before {
                content: url("../../../assets/images/minventory/business_icon.png");

                padding-right: 1em;
              }
            }
          }
          .persona__icon--location {
            p {
              &:before {
                content: url("../../../assets/images/minventory/location_icon.png");

                padding-right: 1em;
              }
            }
          }
          .persona__icon--home {
            p {
              &:before {
                content: url("../../../assets/images/minventory/home_icon.png");

                padding-right: 1em;
              }
            }
          }
        }
      }

      .persona__content--bottom {
        display: flex;
        gap: 1em;

        .persona__container--icons {
          display: flex;
          flex-direction: column;

          .icons__images {
            display: flex;
            align-items: center;
            gap: 1em;
          }
          img {
            width: 5vw;
          }
        }
      }
    }
  }
}

.scenario {
  width: 100%;

  background-color: $clr-primary-blue;
  color: $clr-white;

  .scenario__text {
    width: 80%;
    margin: 0 auto;
    padding: 5em;
  }
}

.prototyping {
  width: 100%;

  background-color: $clr-grey;

  h2 {
    margin-top: 0;
    padding-top: 2em;
  }

  .lofi__content {
    display: flex;
    gap: 1em;

    img {
      width: 96%;
      margin: 0;
    }
  }

  .midfi__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    img {
      width: 48%;
    }
  }

  .prototyping__container {
    width: 80%;
    margin: 0 auto;
  }
}

.usability {
  width: 100%;
}

.next-phase {
  width: 100%;

  .hero__line {
    height: 0.3em;
    width: 3em;
    border-radius: 8em;
    background-image: linear-gradient(
      90deg,
      hsla(245, 96%, 34%, 1),
      hsla(288, 80%, 48%, 1)
    );
  }

  .next-phase__content {
    display: flex;

    width: 70%;
    margin: 0 auto;
    img {
      width: 50%;
    }
  }
}
