@import "../abstracts/variables";

body {
  margin: 0 10%;

  height: 100vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5rem auto;
  width: 46vw;

  h1 {
    font-size: $f-s-840;
    font-weight: $f-w-700;

    color: hsla(212, 13%, 23%, 1);

    margin: -0.2em;
  }

  .introduction__article {
    display: flex;
    flex-direction: column;

    p {
      font-size: $f-s-440;
      font-weight: $f-w-300;

      text-align: center;

      margin: 0.6rem;
    }
  }

  .introduction__div {
    p {
      span {
        display: inline-block;
        font-weight: $f-w-600;

        background-image: linear-gradient(
          60deg,
          hsla(0, 100%, 50%, 1),
          hsla(209, 100%, 50%, 1)
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      font-size: $f-s-500;
      font-weight: $f-w-400;

      text-align: center;
    }
  }
}

.projects {
  max-width: 1201px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  &__card {
    height: 77%;
    padding: 5em 1.5em;

    border-radius: 0.8em;

    img {
      width: 100%;
      margin: 0 auto;
    }

    .card__content {
      width: 95%;
      }
  }

  &__card--magnettu {
    background: linear-gradient(
      150deg,
      hsla(340, 65, 62, 78%) 40%,
      hsla(23, 86, 78, 76%)
    );
  }
  &__card--minventory {
    padding: 6.5em 1.5em;
    background: linear-gradient(
      220deg,
      hsla(228, 55, 25, 74%),
      hsla(342, 88, 83, 63%)
    );
  }
}

.footer {
  position: sticky;
  top: 100%;
}
