@import '../abstracts/variables';

body {
  margin: 0 10%;
}

.introductionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5rem auto;
  width: 46vw;

  h1 {
    font-size: $font-s-h1;
    font-weight: $font-w-plusSemiBold;

    color: hsla(212, 13%, 23%, 1);

    margin: -0.2em;
  }

  article {
    display: flex;
    flex-direction: column;

    p {
      font-size: $font-s-extraBase;
      font-weight: $font-w-minusNormal;

      text-align: center;

      margin: 1rem;
    }

    .description {
      margin: -0.4rem;
    }
  }

  .designerText {
    p {
      span {
        display: inline-block;
        font-weight: $font-w-semiBold;

        background-image: linear-gradient(60deg, hsla(0, 100%, 50%, 1), hsla(209, 100%, 50%, 1));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      font-size: $font-s-large;
      font-weight: $font-w-Normal;

      text-align: center;
    }
  }
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  width: 100%;

  .card {
    .card__img {
      display: flex;
      position: relative;

      width: 100%;

      padding-top: 100%;

      overflow: hidden;

      border-radius: 0.6rem;
      background-color: hsl(0, 0%, 93%);

      img {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        vertical-align: middle;

        object-fit: cover;

        transition: .2s ease;
      }
    }

    .card__content {
      h2 {
        font-size: $font-s-h2;

        color: $c-light-dark;
      }

      p {
        font-size: $font-s-extraBase;
        font-weight: $font-w-minusNormal;

        margin-top: -.9rem;
      }
    }
  }
}