@import "../../../portfolio/local/abstracts/variables";
@import "../../../base-layer/local/abstracts/breakpoints";

.header {
  &__container {
    display: flex;
    align-items: center;
  }

  &__div {
    width: 100%;
  }

  &__list .resume {
    a {
      display: flex;
      img {
        width: 1.5em;
      }
    }
  }
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;

  max-width: 1201px;
  padding-top: 6em;
  padding-bottom: 2em;

  @include large-desktop {
    gap: 5em;
  }
  @include desktop {
    gap: 5em;
  }
  @include tablet {
    flex-direction: column;
  }

  .about__image {
    @include desktop {
      width: 100%;
    }

    @include large-desktop {
      width: 95%;
    }
    @include tablet {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}

.about__self-intro {
  width: 95%;
  padding-right: 2rem;

  h2 {
    font-size: $f-s-600;
    font-weight: $f-w-700;
  }

  p {
    padding-bottom: 1em;

    font-size: $f-s-440;
    font-weight: $f-w-500;
    line-height: 1.4em;

    @include desktop {
      font-size: 95%;
    }
    @include tablet {
      font-size: 100%;
    }
  }

  span {
    font-weight: $f-w-800;
  }
}

.about__hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 10em;
  padding-bottom: 3rem;

  @include tablet {
    margin: 0 5em;
  }

  @include phone {
    margin: 0 2em;
  }

  h2 {
    font-size: $f-s-600;
    font-weight: $f-w-600;

    @include tablet {
      font-size: $f-s-580;
    }
  }

  p {
    font-size: $f-s-480;
    font-weight: $f-w-500;

    padding-bottom: 1em;
    line-height: 1.4em;

    @include tablet {
      font-size: 99%;
    }
  }

  span {
    font-weight: $f-w-800;
  }
}

.about__carrousel {
  display: grid;
  gap: 2em;
  grid-auto-flow: column;
  grid-auto-columns: 31%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  .about__media {
    width: 100%;
    padding: 1em;
    img {
      width: 25vw;
    }
  }
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1em;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.about__talk {
  text-align: center;

  margin: 0 auto;

  p {
    font-size: $f-s-440;
    font-weight: $f-w-400;

    line-height: 1em;
  }

  a {
    font-size: $f-s-440;
    color: $clr-hover;
  }
}
