@import '../../../portfolio/local/abstracts/variables';

.content-section {
  display: flex;
  justify-content: space-between;
  gap: 7em;

  padding-top: 6em;
  padding-bottom: 2em;
  margin: 0 2em;

  img {
    min-height: 35em;
    max-width: 45%;

    padding-top: 1em;
    padding-bottom: 4em;
  }
}

.self-intro {
  padding-right: 2rem;

  h2 {
    font-size: $f-s-600;
    font-weight: $f-w-700;
  }

  p {
    font-size: $f-s-480;
    font-weight: $f-w-300;

    padding-bottom: 1em;
    line-height: 1.4em;
  }

  span {
    font-weight: $f-w-700;
  }
}

.short-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 10em;
  padding-bottom: 5rem;

  h2 {
    font-size: $f-s-600;
    font-weight: $f-w-600;
  }

  p {
    font-size: $f-s-480;
    font-weight: $f-w-300;

    padding-bottom: 1em;
    line-height: 1.4em;
  }

  span {
    font-weight: $f-w-700;
  }
}

.carrousel-section {
  min-height: 30em;
  width: 100%;

  margin-bottom: 6em;

  background-color: magenta;
}

.talk-section {
  text-align: center;

  margin: 0 auto;

  p {
    font-size: $f-s-440;
    font-weight: $f-w-400;

    line-height: 1em;
  }

  a {
    font-size: $f-s-440;
    color: $clr-hover;
  }
}