@import '../../../portfolio/local/abstracts/variables';

.content-section {
  display: flex;
  justify-content: space-between;
  gap: 3em;

  width: 100%;

  img {
    max-width: 45%;
    border: 1px solid black;
  }

  .self-intro {
    width: 40%;
    border: 1px solid red;

    h2 {
      font-size: $f-s8-40;
    }
  }
}

.short-content-section {
  width: 100%;
  background-color: coral;
}

.carrousel-section {
  min-height: 20em;
  width: 100%;
  background-color: magenta;
}

.talk-section {
  text-align: center;
  width: 100%;
  background-color: blue;
}