@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero {
  display: flex;
  justify-content: center;
  padding: 3em 0;
  width: 100%;
}
.hero .hero__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  letter-spacing: 0.04em;
}
.hero .hero__div h1 {
  font-size: 2rem;
  color: hsl(331deg, 100%, 50%);
  margin: 0;
}
.hero .hero__div p {
  font-size: 1.5rem;
  margin: 0.2em;
}
.hero .hero__div span {
  font-weight: 600;
}
.hero img {
  width: 40%;
}

.overview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: hsl(0deg, 9%, 94%);
}
.overview .overview__div {
  display: flex;
  gap: 2em;
  width: 80%;
  padding: 0 2em;
}
.overview .overview__div h3 {
  font-size: 0.9rem;
  margin: 0.2em 0;
}
.overview .overview__div p {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.overview .overview__div .overview__div--left {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.overview .overview__div .overview__div--right {
  display: flex;
  gap: 1em;
  width: 40vw;
}
.overview .overview__div .overview__div--rightone {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 15vw;
}
.overview .overview__div .overview__div--righttwo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 15vw;
}
.overview .overview__div .overview__div--righttwo .overview__div--righttwo--team ul {
  padding-left: 0;
}
.overview .overview__div .overview__div--righttwo .overview__div--righttwo--team li {
  font-size: 0.8rem;
  list-style: none;
}

.first {
  margin: 3em auto;
  width: 90%;
}
.first h2 {
  font-size: 1rem;
  color: hsl(331deg, 100%, 50%);
  margin-left: 5em;
}
.first .first__div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.first .first__div .div__title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.first .first__div .div__paragraph {
  font-size: 0.9rem;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  margin-top: 0;
}
.first .first__div .div__paragraph span {
  font-weight: 700;
}

.hypothesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3em 0;
  background-color: hsl(331deg, 100%, 50%);
  color: hsl(0deg, 0%, 100%);
}
.hypothesis .hypothesis__paragraph {
  font-weight: 500;
  margin: 0 13em 2em;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.hypothesis .hypothesis__button input {
  font-size: 0.8rem;
  font-weight: 600;
  color: hsl(331deg, 100%, 50%);
  padding: 0.5em 1.3em;
  border: none;
  border-radius: 0.2em;
}

.audience {
  margin: 3em auto;
  width: 90%;
}
.audience h2 {
  font-size: 1.25rem;
  color: hsl(331deg, 100%, 50%);
  margin-left: 5em;
}
.audience .audience__div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.audience .audience__div h3 {
  font-size: 1rem;
}
.audience .audience__div p {
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.audience .audience__div p span {
  font-weight: 600;
}
.audience .audience__div a {
  font-weight: 500;
  color: hsl(331deg, 100%, 50%);
  text-decoration: underline;
}
.audience .audience__div > div {
  display: flex;
}
.audience .audience__div > div div {
  width: 35vw;
}
.audience .audience__div > div img {
  width: 30vw;
  max-height: 17em;
  margin-top: 2em;
}
.audience .audience__div .audience__div--bottom {
  display: flex;
  gap: 3em;
}

.findings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 100%;
  background-color: hsl(0deg, 0%, 74%);
}
.findings h3 {
  font-size: 1.1rem;
}
.findings p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.findings .findings__div {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.findings .findings__div .div__blocks {
  display: flex;
  align-items: center;
  gap: 3em;
}
.findings .findings__div span {
  font-weight: 600;
}
.findings .div__blocks--four {
  padding: 1em;
}
.findings .div__blocks--four img {
  max-height: 6.4em;
  padding-left: 0.9em;
}
.findings .div__blocks--eight {
  display: flex;
  padding: 1em;
}
.findings .div__blocks--eight img {
  max-height: 2.9em;
  padding-left: 3em;
}
.findings .div__blocks--seven {
  display: flex;
  padding: 1em;
}
.findings .div__blocks--seven img {
  max-height: 2.9em;
  padding-left: 3em;
}

.nicolas {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  width: 80%;
}
.nicolas h1 {
  font-size: 2.8rem;
}
.nicolas h3 * {
  font-size: 1rem;
}
.nicolas p {
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.nicolas p span {
  font-weight: 600;
}
.nicolas .nicolas__div--medium {
  display: flex;
  width: 100%;
}
.nicolas .nicolas__div--medium img {
  min-height: 30em;
  width: 20vw;
  object-fit: cover;
}
.nicolas .nicolas__div--medium .medium__content {
  width: 50vw;
  font-weight: 500;
  color: hsl(331deg, 100%, 50%);
}
.nicolas .nicolas__div--medium .medium__content > p {
  font-weight: 700;
}
.nicolas .nicolas__div--medium .medium__content h3 {
  border-bottom: 0.1em solid hsl(331deg, 100%, 50%);
}
.nicolas .nicolas__div--medium .medium__content .content--bio {
  width: 45%;
}
.nicolas .nicolas__div--medium .medium__content .content--bottom {
  display: flex;
  gap: 2em;
}
.nicolas .nicolas__div--medium .medium__content .content--bottom .bottom--pain {
  width: 45%;
}
.nicolas .nicolas__div--bottom {
  margin-top: 5em;
}
.nicolas .nicolas__div--bottom span {
  color: hsl(0deg, 0%, 74%);
}

.alexander {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(0deg, 0%, 74%);
}
.alexander h1 {
  font-size: 2.8rem;
}
.alexander h3 * {
  font-size: 1rem;
}
.alexander .alexander__div--medium {
  display: flex;
  width: 80%;
  margin: 3em auto;
  color: hsl(331deg, 100%, 50%);
}
.alexander .alexander__div--medium p {
  line-height: 1.6em;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.alexander .alexander__div--medium img {
  min-height: 30em;
  width: 20vw;
  object-fit: cover;
}
.alexander .alexander__div--medium .medium__content {
  width: 50vw;
}
.alexander .alexander__div--medium .medium__content h3 {
  border-bottom: 0.1em solid hsl(331deg, 100%, 50%);
}
.alexander .alexander__div--medium .medium__content > p {
  font-weight: 700;
}
.alexander .alexander__div--medium .medium__content .content--bio {
  width: 42%;
}
.alexander .alexander__div--medium .medium__content .content--bottom {
  display: flex;
  gap: 2em;
}
.alexander .alexander__div--bottom {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5em;
}

.identity {
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
}
.identity h2,
.identity h5 {
  color: hsl(331deg, 100%, 50%);
}
.identity .identity--content {
  display: flex;
}
.identity .identity--content .identity__div--left {
  width: 35vw;
}
.identity .identity--content .identity__div--left img {
  margin-bottom: 3em;
}
.identity .identity--content .identity__div--left .brand__img--logo {
  width: 10vw;
}
.identity .identity--content .identity__div--left .brand__img--multi {
  width: 10vw;
}
.identity .identity--content .identity__div--left .left__div--colors img {
  width: 20vw;
}
.identity .identity--content .identity__div--right {
  width: 60vw;
}
.identity .identity--content .identity__div--right .div__right--top {
  display: flex;
}
.identity .identity--content .identity__div--right .div__right--top .top__div--font {
  width: 30vw;
}
.identity .identity--content .identity__div--right .div__right--top .top__div--font .font__p--regular {
  font-size: 1.25rem;
  font-weight: 400;
}
.identity .identity--content .identity__div--right .div__right--top .top__div--font .font__p--medium {
  font-size: 1.25rem;
  font-weight: 500;
}
.identity .identity--content .identity__div--right .div__right--top .top__div--font .font__p--semibold {
  font-size: 1.25rem;
  font-weight: 600;
}
.identity .identity--content .identity__div--right .div__right--top .top__div--font .font__p--bold {
  font-size: 1.25rem;
  font-weight: 700;
}

.midfi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background-color: hsl(0deg, 0%, 74%);
}
.midfi h2 {
  margin-left: -67.5em;
}
.midfi .midfi__div--wrapper {
  display: flex;
  gap: 2em;
  width: 80%;
}
.midfi .midfi__div--wrapper h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5em;
  margin-bottom: 0;
}
.midfi .midfi__div--wrapper img {
  margin: 0;
}
.midfi .midfi__div--wrapper .wrapper--right {
  display: flex;
  flex-direction: column;
  gap: 3.6em;
}

.test {
  margin: 5em auto;
  width: 85%;
}
.test h2 {
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--headline p {
  width: 85%;
  margin: 0 auto;
}
.test .test__div--content {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}
.test .test__div--content > p {
  padding-bottom: 1em;
}
.test .test__div--content span {
  font-weight: 700;
}
.test .test__div--content .div--italic {
  padding: 1em 0;
}
.test .test__div--content .div--italic p {
  font-style: italic;
  text-align: center;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--link {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 2em 0;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .img--filtered {
  padding-bottom: 5em;
}
.test .test__div--content .paragraph--overwhelming i {
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--post {
  padding-bottom: 7em;
}
.test .test__div--content .wrapper--post img {
  width: 40%;
}
.test .test__div--content .wrapper--post .post--top {
  display: flex;
  align-items: center;
}
.test .test__div--content .wrapper--post .post--top img {
  margin: 0 2em 0 10em;
}
.test .test__div--content .wrapper--post .post--top p {
  font-size: 1rem;
  font-style: italic;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--post .post--bottom {
  display: flex;
  align-items: center;
}
.test .test__div--content .wrapper--post .post--bottom img {
  margin: 0 2em 0 10em;
}
.test .test__div--content .wrapper--post .post--bottom p {
  font-size: 1.2rem;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--post .post--bottom span {
  font-weight: 600;
}
.test .test__div--content .wrapper--suggestion {
  display: flex;
}
.test .test__div--content .wrapper--suggestion img {
  width: 15vw;
  margin: 0 13em;
}
.test .test__div--content .wrapper--suggestion .suggestion--right {
  width: 18%;
}
.test .test__div--content .wrapper--suggestion .suggestion--right h3 {
  font-size: 1.25rem;
  width: 50%;
  margin: 1em -8em;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--suggestion .suggestion--right > p {
  font-weight: 600;
  margin: 0;
}
.test .test__div--content .wrapper--suggestion .suggestion--right a {
  margin: 0;
}
.test .test__div--content .wrapper--suggestion .suggestion--right .suggestion--before {
  font-style: italic;
  color: hsl(331deg, 100%, 50%);
}
.test .test__div--content .wrapper--redesigned img {
  width: 15vw;
}
.test .test__line {
  width: 70%;
  margin: 3em auto;
  border: 0.05em solid hsl(0deg, 9%, 94%);
}

.next {
  width: 100%;
}

.prototype {
  width: 90%;
  margin: 0 auto;
  color: hsl(331deg, 100%, 50%);
}

html {
  font-family: "Raleway", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

hr {
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
