@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero {
  width: 80%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 2em 0;
}
.hero h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 2.1rem;
  }
}
.hero p {
  margin: 0.2em 0;
  font-size: 1.25rem;
  font-weight: 200;
}
.hero__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__card .hero__line {
  height: 0.3em;
  width: 3em;
  margin-top: 1em;
  border-radius: 8em;
  background-image: linear-gradient(90deg, hsl(245deg, 96%, 34%), hsl(288deg, 80%, 48%));
}
.hero__text p {
  width: 80%;
}
.hero__image {
  width: 100%;
  max-width: 700px;
}
@media screen and (max-width: 768px) {
  .hero__image {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero__image {
    width: 90%;
  }
}
.hero__image img {
  max-width: 100%;
}

.specs {
  padding: 2em;
  background-color: hsl(216deg, 64%, 92%);
}
.specs h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.specs p {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 200;
}
.specs ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}
.specs ul li {
  font-size: 1.2rem;
  font-weight: 200;
}
.specs .specs__container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  max-width: 1201px;
}

.overview {
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}
.overview h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.overview p {
  font-size: 1.2rem;
  font-weight: 200;
}

.background {
  padding: 2em 0;
  background-color: hsl(247deg, 87%, 38%);
  color: hsl(0deg, 0%, 100%);
}
.background h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.background p {
  font-size: 1.2rem;
  font-weight: 200;
}
.background span {
  font-weight: 500;
}
.background__wrapper {
  width: 70%;
  margin: 0 auto;
}
.background__content {
  width: 93%;
  margin: 0 auto;
}
.background .text--top {
  margin-bottom: 3em;
}

.research {
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
}
.research h3 {
  margin-bottom: 1em;
  font-size: 1.3rem;
  font-weight: 500;
}
.research p {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 200;
}
.research span {
  font-weight: 500;
}
.research blockquote {
  margin: 0;
  font-size: 1.2rem;
  font-style: italic;
}
.research__wrapper {
  width: 70%;
  margin: 0 auto;
}
.research__content {
  width: 93%;
  margin: 0 auto;
}
.research__bottom {
  display: flex;
  align-items: center;
}
.research__bottom .bottom__text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.research__image img {
  width: 40vw;
}

.insights {
  margin: 0 auto;
  padding: 2em 0;
  background-color: hsl(0deg, 0%, 92%);
}
.insights p {
  font-size: 1.2rem;
  font-weight: 200;
}
.insights__container {
  width: 70%;
  margin: 0 auto;
}
.insights__content {
  width: 93%;
  margin: 0 auto;
}
.insights__images {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}
.insights__images img {
  width: 20vw;
}

.synthesis {
  width: 70%;
  margin: 0 auto;
  padding: 2em 0;
}
.synthesis h3 {
  margin-bottom: 1em;
  font-size: 1.3rem;
  font-weight: 500;
}
.synthesis h4 {
  margin-bottom: 0;
  font-weight: 500;
  border-bottom: 2px solid hsl(0deg, 0%, 92%);
}
.synthesis p {
  line-height: 1.7em;
  font-size: 1.2rem;
  font-weight: 200;
}
.synthesis__text p {
  margin: 0;
}
.synthesis__content {
  width: 93%;
  margin: 0 auto;
}
.synthesis__persona--brianna {
  margin-top: 2em;
  margin-bottom: 2em;
}
.synthesis__persona {
  display: flex;
  align-items: center;
  padding: 1em 0;
}
.synthesis__persona img {
  width: 22vw;
}
.synthesis__persona .persona__title h1 {
  margin: 0;
}
.synthesis__persona .persona__title p {
  margin: 0;
}
.synthesis__persona .persona__content--top {
  display: flex;
  gap: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about {
  width: 50%;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--person {
  display: flex;
  align-items: center;
  gap: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--person img {
  width: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--business {
  display: flex;
  align-items: center;
  gap: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--business img {
  width: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--location {
  display: flex;
  align-items: center;
  gap: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--location img {
  width: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--home {
  display: flex;
  align-items: center;
  gap: 1em;
}
.synthesis__persona .persona__content--top .persona__container--about .persona__icon--home img {
  width: 1em;
}
.synthesis__persona .persona__content--top .persona__container--bio {
  width: 50%;
}
.synthesis__persona .persona__content--bottom {
  display: flex;
  gap: 1em;
}
.synthesis__persona .persona__content--bottom .persona__container--frustrations {
  width: 50%;
}
.synthesis__persona .persona__content--bottom .persona__container--goals {
  width: 50%;
}
.synthesis__persona .persona__content--bottom .persona__container--icons {
  display: flex;
  flex-direction: column;
}
.synthesis__persona .persona__content--bottom .persona__container--icons .icons__images {
  display: flex;
  align-items: center;
  gap: 2em;
}
.synthesis__persona .persona__content--bottom .persona__container--icons img {
  width: 4vw;
  margin-top: 1em;
}
.synthesis__persona--clara .persona__container--icons .icons__images img {
  width: 5vw;
}

.scenario {
  padding: 2em 0;
  background-color: hsl(247deg, 87%, 38%);
  color: hsl(0deg, 0%, 100%);
}
.scenario p {
  font-size: 1.2rem;
  font-weight: 200;
}
.scenario__wrapper {
  width: 70%;
  margin: 0 auto;
}
.scenario__content {
  width: 93%;
  margin: 0 auto;
}

.prototyping {
  width: 100%;
  padding: 2em 0;
  background-color: hsl(0deg, 0%, 92%);
}
.prototyping h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.prototyping p {
  font-weight: 200;
}
.prototyping__wrapper {
  width: 70%;
  margin: 0 auto;
}
.prototyping__container {
  width: 93%;
  margin: 0 auto;
}
.prototyping .lofi__content {
  display: flex;
  gap: 1em;
}
.prototyping .lofi__content img {
  width: 96%;
  margin: 0;
}
.prototyping .midfi__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.prototyping .midfi__content img {
  width: 48%;
}

.usability {
  padding: 2em 0;
}
.usability h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.usability span {
  font-weight: 500;
}
.usability__wrapper {
  width: 70%;
  margin: 0 auto;
}
.usability__content {
  width: 93%;
  margin: 0 auto;
}
.usability__content p {
  font-size: 1.1rem;
  font-weight: 200;
}
.usability__content .usability__service--top {
  display: flex;
  gap: 1em;
  margin: 0 5% 2em 5%;
}
.usability__content .usability__service--top img {
  width: 35vw;
}
.usability__content .usability__service--top .usability__quote {
  width: 30vw;
  margin-left: 8%;
  color: hsl(288deg, 67%, 55%);
  font-weight: 200;
  font-style: italic;
}
.usability__content .usability__service--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
}
.usability__content .usability__service--bottom img {
  width: 35vw;
}
.usability__content .usability__service--bottom .service-bottom-left__paragraph {
  width: 20vw;
}
.usability__content .usability__content--inventory {
  width: 90%;
  margin: 2em auto;
  padding-bottom: 2em;
}
.usability__content .usability__content--inventory img {
  width: 35vw;
}
.usability__content .usability__content--inventory quote {
  display: block;
  margin-bottom: 2em;
  color: hsl(288deg, 67%, 55%);
  font-weight: 200;
  font-style: italic;
}
.usability__content .usability__content--inventory .usability__inventory--top {
  display: flex;
  gap: 1em;
  align-items: center;
}
.usability__content .usability__content--inventory .usability__inventory--line {
  padding: 1em 0;
  border-bottom: 0.1em solid hsl(0deg, 0%, 92%);
}
.usability__content .usability__content--inventory .usability__inventory--bottom {
  display: flex;
  gap: 1em;
  width: 60vw;
  padding-top: 2em;
}
.usability__content .usability__content--inventory .usability__inventory--bottom p {
  font-size: 1rem;
  font-weight: 400;
}
.usability__content .usability__content--add-inventory {
  display: flex;
  gap: 2em;
  width: 90%;
}
.usability__content .usability__content--add-inventory img {
  width: 35vw;
}
.usability__content .wrap__inventory {
  display: flex;
  justify-content: center;
}

.next-phase {
  padding: 2em;
}
.next-phase h2 {
  margin-bottom: 0.2em;
}
.next-phase h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.next-phase p {
  font-size: 1.2rem;
  font-weight: 200;
}
.next-phase__wrapper {
  width: 70%;
  margin: 0 auto;
}
.next-phase .hero__line {
  height: 0.3em;
  width: 3em;
  margin-bottom: 2em;
  border-radius: 8em;
  background-image: linear-gradient(90deg, hsl(245deg, 96%, 34%), hsl(288deg, 80%, 48%));
}
.next-phase__content {
  display: flex;
  gap: 1em;
  width: 93%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.next-phase__content img {
  width: 70%;
}
.next-phase__content--left {
  width: 50%;
}
.next-phase__content--right {
  width: 50%;
}

.final-product {
  width: 70%;
  margin: 0 auto;
}

html {
  font-family: "Poppins", sans-serif;
}

html {
  line-height: 1.15;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

hr {
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
