@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5em 0 5em 5em;
}
.hero h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.hero p {
  font-size: 1rem;
  font-weight: 200;
  margin: 0.6em 0;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero__container .hero__line {
  height: 0.3em;
  width: 3em;
  margin-top: 1em;
  border-radius: 8em;
  background-image: linear-gradient(90deg, hsl(245deg, 96%, 34%), hsl(288deg, 80%, 48%));
}
.hero img {
  margin-left: auto;
  display: block;
  width: 60%;
}

.specs {
  width: 100%;
  padding: 5em;
  background-color: hsl(216deg, 64%, 92%);
}
.specs h4 {
  font-weight: 500;
  margin-bottom: 0;
}
.specs p {
  font-size: 0.9rem;
  font-weight: 200;
  margin-top: 0;
}
.specs ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}
.specs ul li {
  font-size: 0.9rem;
  font-weight: 200;
}
.specs .specs__container {
  display: flex;
  justify-content: space-evenly;
}

.overview {
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}
.overview p {
  font-weight: 200;
}

.background {
  width: 100%;
  padding: 5em;
  background-color: hsl(247deg, 87%, 38%);
  color: hsl(0deg, 0%, 100%);
}
.background h4 {
  font-weight: 500;
  margin-bottom: 0;
}
.background p {
  font-size: 0.9rem;
  font-weight: 200;
}
.background span {
  font-weight: 600;
}
.background .background__content {
  width: 80%;
  margin: 0 auto;
}
.background .text--top {
  margin-bottom: 3em;
}

.research {
  width: 100%;
  margin: 0 auto;
  padding: 5em;
}
.research h4 {
  font-weight: 500;
  margin-bottom: 1em;
}
.research p {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 200;
}
.research span {
  font-weight: 600;
}
.research .research__content {
  width: 80%;
  margin: 0 auto;
}
.research .research__bottom {
  display: flex;
  align-items: center;
}
.research .research__bottom p {
  width: 80%;
}
.research .research__bottom .research__image {
  width: 30vw;
}

.insights {
  width: 100%;
  margin: 0 auto;
  padding: 5em;
  background-color: hsl(0deg, 0%, 92%);
}
.insights h4 {
  font-weight: 500;
}
.insights p {
  font-size: 0.9rem;
  font-weight: 200;
}
.insights .insights__container {
  width: 90%;
  margin: 0 auto;
}
.insights .insights__content {
  width: 80%;
  margin: 0 auto;
}
.insights .insights__images {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}
.insights .insights__images img {
  width: 20vw;
}

.synthesis {
  width: 90%;
  margin: 0 auto;
  padding: 5em;
}
.synthesis h4 {
  margin-bottom: 0;
  font-weight: 500;
}
.synthesis p {
  line-height: 1.7em;
  font-size: 0.9rem;
  font-weight: 200;
}
.synthesis .synthesis__text p {
  margin: 0;
}

.synthesis__content {
  width: 80%;
  margin: 0 auto;
}
.synthesis__content .synthesis__persona {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}
.synthesis__content .synthesis__persona h5 {
  width: 20vw;
  border-bottom: 0.1em solid hsl(0deg, 0%, 92%);
}
.synthesis__content .synthesis__persona img {
  width: 22vw;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--top {
  display: flex;
  gap: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--top .persona__container--about .persona__icon--person p:before {
  content: url("../../../assets/images/minventory/person_icon.png");
  padding-right: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--top .persona__container--about .persona__icon--business p:before {
  content: url("../../../assets/images/minventory/business_icon.png");
  padding-right: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--top .persona__container--about .persona__icon--location p:before {
  content: url("../../../assets/images/minventory/location_icon.png");
  padding-right: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--top .persona__container--about .persona__icon--home p:before {
  content: url("../../../assets/images/minventory/home_icon.png");
  padding-right: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--bottom {
  display: flex;
  gap: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--bottom .persona__container--icons {
  display: flex;
  flex-direction: column;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--bottom .persona__container--icons .icons__images {
  display: flex;
  align-items: center;
  gap: 1em;
}
.synthesis__content .synthesis__persona .persona__content .persona__content--bottom .persona__container--icons img {
  width: 5vw;
}

.scenario {
  width: 100%;
  background-color: hsl(247deg, 87%, 38%);
  color: hsl(0deg, 0%, 100%);
}
.scenario .scenario__text {
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}

.prototyping {
  width: 100%;
  background-color: hsl(0deg, 0%, 92%);
}
.prototyping h2 {
  margin-top: 0;
  padding-top: 2em;
}
.prototyping .lofi__content {
  display: flex;
  gap: 1em;
}
.prototyping .lofi__content img {
  width: 96%;
  margin: 0;
}
.prototyping .midfi__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.prototyping .midfi__content img {
  width: 48%;
}
.prototyping .prototyping__container {
  width: 80%;
  margin: 0 auto;
}

.usability {
  width: 100%;
}

.next-phase {
  width: 100%;
}
.next-phase .hero__line {
  height: 0.3em;
  width: 3em;
  border-radius: 8em;
  background-image: linear-gradient(90deg, hsl(245deg, 96%, 34%), hsl(288deg, 80%, 48%));
}
.next-phase .next-phase__content {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.next-phase .next-phase__content img {
  width: 50%;
}

html {
  font-family: "Poppins", sans-serif;
}

html {
  line-height: 1.15;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

hr {
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
