// COLOR VARIABLES
$clr-background-white: hsl(0, 0%, 100%);
$clr-background-grey-light: hsla(0, 9%, 94%, 1);
$clr-background-grey-dark: hsla(0, 0%, 74%, 1);
$clr-primary-light: hsla(331, 100%, 50%, 1);
$clr-primary-dark: hsla(331, 89%, 40%, 1);
