<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/magnettu/magnettu.css" />
    <title>Magnettü</title>
  </head>
  <body>
    <!-- SETCION 1 - HERO -->
    <section class="hero">
      <div class="hero__div">
        <h1>Magnettü</h1>
        <p><span>Architecting</span> the MVP for a business collaboration</p>
      </div>
      <img src="#" alt="magnettu screengrab" />
    </section>

    <!-- SECTION 2 - OVERVIEW -->
    <section class="overview">
      <div class="overview__div">
        <div class="overview__div--right">
          <h2 class="div__title">Overview</h2>
          <p class="div__paragraph">
            Magnettü is an all-in-one SaaS that leverages AI to generate
            personalized content to help empower employees build their own
            personal brands and in-return generate marketing leads for the
            company.
          </p>
        </div>
        <div class="overview__div--left">
          <div class="overview__div--leftone">
            <div class="overview__div--left--role">
              <h3 class="div__title">Role</h3>
              <p class="div__paragraph">Product Designer</p>
            </div>
            <div class="overview__div--left--responsabilities">
              <h3 class="div__title">Responsabilities</h3>
              <p class="div__paragraph">
                UX Research Information Architecture Product Design / UI
              </p>
            </div>
          </div>

          <div class="overview__div--lefttwo">
            <div class="overview__div--leftwo--timeline">
              <h3 class="div__title">Timeline</h3>
              <p class="div__paragraph">One Month - Spring 2022</p>
            </div>
            <div class="overview__div--leftwo--team">
              <div class="overview__div--leftwo--team">
                <h3 class="div__title">Team</h3>
                <ul class="div__list">
                  <li>3 Product Designer</li>
                  <li>1 Web Developer</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - FIRST -->
    <section class="first">
      <h2>First Thing's First</h2>
      <div class="first__div">
        <div class="first__div--top">
          <h3 class="div__title">Project Scope</h3>
          <p class="div__paragraph">
            Magnettü contracted Michel, Jan and I to collaborate with their CTO
            to design and architect a MVP. They needed a company marketing
            landing page, user dashboard, and manager dashboard to show
            investors to realize the initial seed funding in Spring 2022.
          </p>
        </div>
        <div class="first__div--bottom">
          <h3 class="div__title">Understanding the problem</h3>
          <p class="div__paragraph">
            Businesses that are struggling to lower cost per leads due to the
            loss of efficiency from social media channels, need a way to
            increase lead conversions and build brand awareness from within the
            business.
          </p>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - Hypothesis -->
    <section class="hypothesis">
      <h3 class="hypothesis__title">Hypothesis</h3>
      <p class="hypothesis__paragraph">
        Creating an easy tool to help employees play a more active in social
        media and managers to track content, will generate lead conversions at a
        lower cost. Hence, increase company sales, decrease marketing spending,
        and empower employees to build a personal brand.
      </p>
      <div class="hypothesis__button">
        <input type="submit" value="Skyp to Prototype" />
      </div>
    </section>
  </body>
</html>
