<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/magnettu/magnettu.css" />
  <title>Magnettü</title>
</head>

<body>
  <!-- Scroll Progress -->
  <div class="scroll-progress reveal"></div>
  <!-- SETCION 1 - HERO -->
  <section class="hero">
    <div class="hero__card">
      <div class="hero__content">
        <h1>Magnettü</h1>
        <p><span>Architecting</span> the MVP for a business collaboration</p>
      </div>
      <div class="hero__image">
        <img src="../assets/images/portfolio/projects/magnettu.svg" alt="magnettu screengrab" />
      </div>
    </div>
  </section>

  <!-- SECTION 2 - OVERVIEW -->
  <section class="overview reveal">
    <div class="overview__container">
      <div class="overview__left">
        <h3 class="div__title">Overview</h3>
        <p class="div__paragraph">
          Magnettü is an all-in-one SaaS that leverages AI to generate
          personalized content to help empower employees build their own
          personal brands and in-return generate marketing leads for the
          company.
        </p>
      </div>
      <div class="overview__right">
        <div class="overview__right--one">
          <div class="overview__div--left--role">
            <h3 class="div__title">Role</h3>
            <p class="div__paragraph">Product Designer</p>
          </div>
          <div class="overview__div--left--responsabilities">
            <h3 class="div__title">Responsabilities</h3>
            <p class="div__paragraph">
              UX Research Information Architecture Product Design / UI
            </p>
          </div>
        </div>

        <div class="overview__right--two">
          <div class="overview__right--timeline">
            <h3 class="div__title">Timeline</h3>
            <p class="div__paragraph">One Month - Spring 2022</p>
          </div>
          <div class="overview__right--team">
            <h3 class="div__title">Team</h3>
            <ul class="div__list">
              <li>3 Product Designer</li>
              <li>1 Web Developer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 3 - FIRST -->
  <section class="first reveal">
    <h2>First Thing's First</h2>
    <div class="first__container">
      <div class="first__content">
        <h3>Project Scope</h3>
        <p>
          Magnettü contracted Michel, Jan and I to collaborate with their CTO to
          design and architect a MVP. They needed a company marketing
          <span>landing page</span>, <span>user dashboard</span>, and
          <span>manager dashboard</span> to show investors to realize the initial
          seed funding in Spring 2022.
        </p>
        <h3>Understanding the problem</h3>
        <p>
          Businesses that are struggling to
          <span>lower cost per leads</span> due to the loss of efficiency from
          social media channels, need a way to
          <span>increase lead conversions</span> and build brand awareness from
          within the business.
        </p>
      </div>
    </div>
  </section>

  <!-- SECTION 4 - HYPOTHESIS -->
  <section class="hypothesis reveal">
    <h2 class="hypothesis__title">Hypothesis</h2>
    <p class="hypothesis__paragraph">
      Creating an easy tool to help employees play a more active in social
      media and managers to track content, will generate lead conversions at a
      lower cost. Hence, increase company sales, decrease marketing spending,
      and empower employees to build a personal brand.
    </p>
    <div class="hypothesis__button">
      <a href="#prototype">
        <input type="submit" value="Skip to Prototype" />
      </a>
    </div>
  </section>

  <!-- SECTION 5 - AUDIENCE -->
  <section class="audience reveal">
    <h2>Understanding The Audience</h2>
    <div class="audience__container">
      <p class="aucience__container--paragraph">
        Although Magnettü’s team provided secondary research and a features
        list, we conducted further empathetic research to articulate a
        <span>user-focused problem statement</span> that will then allow us to
        craft a MVP design that meets the <span>user’s needs</span>.
      </p>
      <div class="audience__container--bottom">
        <div class="left__content">
          <h3 class="div__title">Interviews</h3>
          <p class="div__paragraph">
            We began our primary research by creating an
            <a href="#">interview guide</a> then started conducting
            <span>12 interviews</span> with participants aged between
            <span>26-41</span> who are currently in the workforce and are
            potential users. Participants were a mix of
            <span>brand managers</span> and <span>employees</span> in multiple
            industries so we can understand the needs and wants from each use
            case. We then did <span>affinity mapping</span> and
            <span> feature prioritization</span> methods to help us ideate.
          </p>
        </div>
        <div class="audience__image">
          <img src="../assets/images/magnettu/managerDash.png" alt="manager dashboard picture" />
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 6 - FINDINGS -->
  <section class="findings reveal">
    <h2>Interview Findings</h2>
    <div class="findings__container">

      <div class="findings__card">
        <div class="findings__image findings__image--4">
          <img src="../assets/images/magnettu/findings/fourSix.svg" alt="four icon" />
          <img src="../assets/images/magnettu/findings/people.svg" alt="people icon" />
        </div>
        <p>
          Managers complain about <span>social media ads expenses</span> and
          want lucrative alternatives.
        </p>
      </div>

      <div class="findings__card">
        <div class="findings__image findings__image--85">
          <img src="../assets/images/magnettu/findings/eight.svg" alt="eighty icon" />
        </div>
        <p>
          Of managers want employees to share company news because it cheaper
          than social media ads and are percieved as <span>trustworthy</span>.
        </p>
      </div>

      <div class="findings__card">
        <div class="findings__image findings__image--79">
          <img src="../assets/images/magnettu/findings/seven.svg" alt="seventy icon" />
        </div>
        <p>
          Of employees would love to share <span>content</span>, but find it
          <span>time consuming</span> and <span>difficult</span> to come up
          with content.
        </p>
      </div>
    </div>
    <p class="findings__source">Source: User Research Spring 2022</p>
  </section>

  <!-- SECTION 7 - NICOLAS -->
  <section class="nicolas reveal">
    <div class="nicolas__top">
      <h2>User Personas</h2>
      <p>
        We then came up with two user personas, a manager and an employee.
        Meet <span>Nicolas</span> and <span>Alexander</span>. You might ask
        why real estate and not any other industry. Well, it happens to be
        that <span>5 in the 12</span> interviewees were in real estate and we
        believe that real estate has more complex problems, if we solve them,
        other industries will be solved.
      </p>
    </div>
    <div class="nicolas__card">
      <div class="nicolas__image">
        <img src="../assets/images/magnettu/nicolas_picture.jpg" alt="nicolas photo" />
      </div>
      <div class="nicolas__content">
        <h1>Nicolas Coorey</h1>
        <p>41, Marketing Manager at Engel and Volkers, Madrid, Spain</p>
        <div class="content--bio">
          <h3>BIO</h3>
          <p>
            Nicolas, father of three, lives with his family in the outskirts
            of Madrid. He truly believes in this quote “People trust people,
            not companies”. Excited for the post covid opportunities at his
            company.
          </p>
        </div>
        <div class="content--bottom">
          <div class="bottom--pain">
            <h3>PAIN POINTS</h3>
            <p>
              Hard time educating employees to all the news that is happening
              internally.
            </p>
            <p>
              Cannot track & measure the success of word-of-mouth content
              created by employees.
            </p>
          </div>
          <div class="bottom--goals">
            <h3>GOALS</h3>
            <p>Ultimately lower marketing spending for the company and.</p>
            <p>Motivate employees to advocate for the company.</p>
            <p>Track all social media posts made using measurable KPI’s.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nicolas__bottom">
      <h3>Nicolas <span>Task Scenario</span></h3>
      <p>
        It’s a new quarter and Nicolas wants to share a new piece of content
        to all the employees and meanwhile, see the progress they’ve made by
        viewing measureable KPI’s all via his dashboard.
      </p>
    </div>
  </section>

  <!-- SECTION 8 - ALEXANDER -->
  <section class="alexander reveal">
    <div class="alexander__container">
      <div class="alexander__card">
        <div class="alexander__image">
          <img src="../assets/images/magnettu/alexander_picture.png" alt="alexander photo" />
        </div>
        <div class="alexander__content">
          <h1>Alexander Hipp</h1>
          <p>3o, Real Estate Agent at Engel and Volkers, Madrid, Spain</p>
          <div class="content--bio">
            <h3>BIO</h3>
            <p>
              Alex is an outgoing, ambitious extrovert. He recently moved to
              Madrid from Amsterdam to start a new chapter in and does not have
              enough time to explore and work.
            </p>
          </div>
          <div class="content--bottom">
            <div class="bottom--pain">
              <h3>PAIN POINTS</h3>
              <p>Feels under valued at company and not able to stand out.</p>
              <p>
                Difficulty to stay up with all the industry trends and news.
              </p>
              <p>
                Hard time writing and managing social media content effectively.
              </p>
            </div>
            <div class="bottom--goals">
              <h3>GOALS</h3>
              <p>Become an employee advocate and build his personal brand.</p>
              <p>
                Stand out between others in the industry by sharing
                sophisticated and smart content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="alexander__bottom">
        <h3>Alexander <span>Task Scenario</span></h3>
        <p>
          Alexander recieves and shares Nicolas’ post onto his social media
          platforms. Then views the top performing posts based on
          comments/retweets so he can do better in the future.
        </p>
      </div>
    </div>
  </section>

  <!-- SECTION 9 - IDENTITY -->
  <section class="identity reveal">
    <h2>Adding Identity</h2>
    <div class="identity__content">
      <div class="identity__left">
        <div class="identity__brand">
          <h3>Brand</h3>
          <div class="brand__images">
            <img src="../assets/images/magnettu/magnettu-logo.png" class="brand__img brand__img--logo"
              alt="logo text" />
            <img src="../assets/images/magnettu/multi-magnettu-logo.png" class="brand__img brand__img--multi"
              alt="different logos" />
          </div>
        </div>

        <div class="identity__colors">
          <h3>Colors</h3>
          <img src="../assets/images/magnettu/palette.png" class="brand__img brand__img--colors" alt="color palette" />
        </div>
      </div>

      <div class="identity__right">
        <div class="identity__right--top">
          <div class="identity__font">
            <h3>Family Font</h3>
            <p class="font__regular">Raleway Regular 400</p>
            <p class="font__medium">Raleway Medium 500</p>
            <p class="font__semibold">Raleway SemiBold 600</p>
            <p class="font__bold">Raleway Bold 700</p>
          </div>
          <div class="identity__icons">
            <h3>Icons</h3>
            <div class="top__icons">
              <img src="../assets/images/magnettu/icons.png" alt="cisco logo" />
            </div>
          </div>
        </div>
        <div class="identity__right--bottom">
          <div class="identity__components">
            <h3>Components</h3>
            <div class="identity__components--container">
              <div class="identity__component--1">
                <img src="../assets/images/magnettu/component-1.svg" alt="components picture" />
              </div>
              <div class="identity__component--2">
                <img src="../assets/images/magnettu/component-2.svg" alt="components picture" />
              </div>
              <div class="identity__component--3">
                <img src="../assets/images/magnettu/component-3.svg" alt="components picture" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 10 - MID-FI -->
  <section class="midfi reveal">
    <div class="midfi__wrapper">
      <h2>Mid-Fi</h2>
      <div class="midfi__container">
        <div class="wrapper--left">
          <div class="wrapper--left-title">
            <h3>Marketing Landing Page</h3>
          </div>
          <div class="midfi__image">
            <img src="../assets/images/magnettu/landingPage.png" alt="landing page screengrab" />
          </div>
        </div>
        <div class="wrapper--right">
          <div>
            <h3>Manager's Dashboard</h3>
            <div class="midfi__image">
              <img src="../assets/images/magnettu/manager.png" alt="manager's dashboard screengrab" />
            </div>
          </div>
          <div>
            <h3>New Post</h3>
            <div class="midfi__image">
              <div class="midfi__image">
                <img src="../assets/images/magnettu/post.png" alt="new post screengrab" />
              </div>
            </div>
          </div>
          <div>
            <h3>user's Dashboard</h3>
            <div class="midfi__image">
              <img src="../assets/images/magnettu/user.png" alt="user's dashboard screengrab" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 11 - TEST -->
  <section class="test reveal">
    <h2>Test, Iterate and Repeat</h2>
    <div class="test__container">
      <div class="test__div test__div--headline">
        <p>
          With the Mid-Fi ready, we began a usability testing sprint for three
          days with potential users. After conducting more than
          <span> 20 usability tests </span> we came across plenty of design
          faults and patterns that needed to be redesigned to meet user’s
          intuitions, familiarity, and wants. I decided to shed light to the
          <span>3 main iterations</span> from the many that we had and will
          still do.
        </p>
      </div>
      <div class="test__div test__div--content">
        <div class="content--1user">
          <h3>1.0 User Dashboard</h3>
          <p>
            <span>17</span> users wanted to easily access posts that have been
            shared, as well as filter the content cards based on category.
          </p>
          <div class="user__content">
            <div class="div--italic">
              <p>
                ”How can I filter the content to just see news or my company
                content?”
              </p>
              <p>“Where can I see the content I’ve shared?”</p>
            </div>
            <div class="test__image">
              <img src="../assets/images/magnettu/welcome.png" alt="welcome back scren" />
            </div>
            <div class="wrapper--link">
              <p>
                We listened to our users and introduced
                <span>sorting</span> and <span>filtering</span> tools!
              </p>
            </div>
            <div class="test__image">
              <img src="../assets/images/magnettu/filtered.png" alt="filtered tools adding page"
                class="img--filtered" />
            </div>
          </div>
        </div>
        <div class="content--2scheduling">
          <h3>2.0 Scheduling Posts</h3>
          <p>
            <span>12</span> users wanted the ability to schedule posts and or
            <span>save as drafts</span>, because in our initial design users
            were only able to share the post on-the-spot.
          </p>
          <p class="paragraph--overwhelming">
            We added the ability to save as a draft and conducted more
            testing, and the responses we got were
            <i> “its overwhelming” “too many decision making” </i>. Therefore
            we decided to not do a ‘Save as Draft’ feature and rely on the
            favorites and scheduling features, where users will then have the
            ability to come back to it.
          </p>
          <div class="wrapper--post">
            <div class="post--top">
              <img src="../assets/images/magnettu/drag.png" alt="post screengrab" />
              <div>
                <p>
                  “What if I want to save a draft or schedule it to post
                  tomorrow morning?”
                </p>
                <p>
                  “I’m hesitant about this post, can I save it as a draft?”
                </p>
              </div>
            </div>
            <div class="test__line"></div>
            <div class="post--bottom">
              <img src="../assets/images/magnettu/schedule.png" alt="scheduling screengrab" />
              <p>
                Ability to <span>schedule</span> posts and
                <span>edit</span> them using the schedule feature.
              </p>
            </div>
          </div>
        </div>
        <div class="content--3content">
          <h3>3.0 Content Cards</h3>
          <p>
            We initially designed the content cards with a huge emphasis and
            focus on <span>hover</span>. Throughout usability testing, users
            didn’t know how to <span>‘Favorite’</span> and
            <span>‘Share’</span>. So we redesigned content cards to always
            present actions at all times. Furthermore, made alterations to the
            colors to align with the brand identity and be less overwhelming.
          </p>
          <div class="wrapper__container">
            <div class="wrapper--top">
              <div class="content__image3">
                <img src="../assets/images/magnettu/suggestion.png" alt="suggestion screengrab" />
              </div>
              <div class="suggestion--content">
                <h3>You, yes you! Hover on me!</h3>
                <div class="content--bottom">
                  <p>Before</p>
                  <a>Hover State</a>
                  <div class="content--italic">
                    <p>“What if im using a tablet or smartphone?”</p>
                    <p>
                      “I accidently figured it out by moving my mouse around
                      the screen, however it was not intuitive.”
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="test__line"></div>
            <div class="wrapper--bottom">
              <div class="redesigned--left">
                <span>After</span>
                <p>Default State</p>
                <p class="paragraph--pink">
                  “Redesigned to be compatible to all <span>devices</span> and
                  meet user’s <span>intuitions</span>.
                </p>
              </div>
              <div class="redesigned__image">
                <img src="../assets/images/magnettu/new.png" alt="new screengrab" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 12 - NEXT -->
  <section class="next reveal">
    <h2>What’s Next? (Besides testing, testing, and more testing)</h2>
    <div class="next__wrapper">
      <div class="next__div--container">
        <div class="next__section">
          <div class="next__image">
            <img src="../assets/images/magnettu/rewards.png" alt="rewards logo" />
          </div>
          <p>Design the Rewards and Rankings page for users and managers</p>
        </div>
        <div class="next__section next__section--meta">
          <div class="next__image">
            <img src="../assets/images/magnettu/meta.png" alt="meta logo" />
          </div>
          <p>
            Introduce the ability to share on more social media platforms (e.g
            Instagram, Facebook)
          </p>
        </div>
        <div class="next__section">
          <div class="next__image">
            <img src="../assets/images/magnettu/restrict.png" alt="restrict logo" />
          </div>
          <p>
            Allow brand managers to restrict and censor content(e.g politics,
            inappropriate words)
          </p>
        </div>
        <div class="next__section">
          <div class="next__image">
            <img src="../assets/images/magnettu/mobile.png" alt="mobile logo" />
          </div>
          <p>Craft and design a mobile and tablet version of Magnettü</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 12 - PROTOTYPE -->
  <section class="prototype reveal">
    <h2>Prototype</h2>
  </section>

  <!-- script scroll down bar -->
  <script src="../assets/js/magnettu.js"></script>
</body>

</html>