<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/minventory/minventory.css" />
    <title>Minventory</title>
  </head>

  <body>
    <!-- SETCION 1 - HERO -->
    <section class="hero">
      <div class="hero__card">
        <div class="hero__content">
          <div class="hero__text">
            <h1>Sass Web App</h1>
            <p>
              An effective, seamless tool to track materials and professional
              inventory.
            </p>
          </div>
          <div class="hero__line"></div>
        </div>

      <div class="hero__image">
        <img
          src="../assets/images/minventory/hero/minventory.svg"
          alt="minventory screengrab"
          class="hero__image"
        />
      </div>
      </div>
    </section>

    <!-- SECTION 2 - SPECS -->
    <section class="specs">
      <div class="specs__container">
        <div class="specs__text specs__text--left">
          <h3>Team Size</h3>
          <p>Individual</p>
          <h3>Duration</h3>
          <ul>
            <li>Spring 2022</li>
            <li>1 Week</li>
          </ul>
        </div>
        <div class="specs__text specs__text--center">
          <h3>Responsabilities</h3>
          <ul>
            <li>Research</li>
            <li>Affinity Mapping</li>
            <li>User Flows</li>
            <li>Sketching</li>
            <li>Usabitlity</li>
            <li>Mid-fi</li>
            <li>Hi-fi Prototype</li>
          </ul>
        </div>
        <div class="specs__text specs__text--right">
          <h3>Materials</h3>
          <ul>
            <li>Index Cards</li>
            <li>Pen and Paper</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- SECTION 3 - OVERVIEW -->
    <section class="overview">
      <div class="overview__container">
        <h3>Project Overview</h3>
        <p>
          The challenge of this project was to build a desktop web app/product
          to help professional teams get their work done more effectively.
        </p>
      </div>
    </section>

    <!-- SECTION 4 - BACKGROUND -->
    <section class="background">
      <div class="background__wrapper">
        <h2>Background</h2>
        <div class="background__content">
          <div class="text--top">
            <h3>Problem Statement</h3>
            <p>
              <span>Small businesses</span> with limited budgets, spend time and
              money for <span>material-inventory bookeeping</span> yet end up
              losing clients and consistency. Hence, want to keep the business
              running and prevent interruptions.
            </p>
          </div>
          <div class="text--bottom">
            <h3>Hypothesis</h3>
            <p>
              A B2B tool to <span>track</span> and
              <span>manage professional inventory</span> by integrating with POS
              systems to <snap>calculate when and how</snap> much inventory is
              needed to keep businesses running without interruptions.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 5 - RESEARCH -->
    <section class="research">
      <div class="research__wrapper">
        <h2>Research</h2>
        <div class="research__content">
          <p>
            I chose to focus on small businesses, mainly because they were
            <span>impacted the most by the pandemic</span>
            and there isn’t a lot of SaaS tools targeted for them.
          </p>
          <h3>Interviews</h3>
          <p class="interview__paragraph">
            I conducted <span>10</span> interviews with
            <span>managers</span> and/or <snap>owners</snap> of small to medium
            <snap>spas</snap>, <snap>dental clinics</snap>, and
            <snap>beauty centers</snap> in 7 different locations around the world.
          </p>
          <div class="research__bottom">
            <div class="bottom__text">
              <div class="bottom__text--paragraph">
                <p>
                  Each interview took approximately <span>15-20 minutes</span> and
                  was initiated by asking them the following question:
                </p>
              </div>
              <div class="bottom__text--quote">
                <blockquote>
                  “Could you walk me through an exhaustive management task at your
                  business?”
                </blockquote>
              </div>
            </div>
            <div class="research__image">
              <img
                src="../assets/images/minventory/research_illustration.svg"
                alt="research illustration image"
                class="research__image"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 6 - INSIGHTS -->
    <section class="insights">
      <div class="insights__container">
        <h2>Inisghts</h2>
        <div class="insights__content">
          <p>
            Although the interviews were with business owners from different
            backgrounds and markets, I was fascinated that there were common
            patterns when it came to their pain-points.
          </p>
          <div class="insights__images">
            <img
              src="../assets/images/minventory/image-25.svg"
              alt="25% image"
            />
            <img
              src="../assets/images/minventory/image-diagram.svg"
              alt="diagram image"
            />
            <img
              src="../assets/images/minventory/image-people.svg"
              alt="people illustration image"
            />
            <img
              src="../assets/images/minventory/image-70.svg"
              alt="70% image"
            />
            <img src="../assets/images/minventory/image-0.svg" alt="0% image" />
            <img
              src="../assets/images/minventory/image-forbidden.svg"
              alt="forbidden image"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 7 - SYNTHESIS -->
    <section class="synthesis">
      <h2 class="synthesis__title">Synthesis and Ideaditon</h2>
      <div class="synthesis__content">
        <div class="synthesis__text">
          <p>
            After gathering all the insights, I began to formulate the user
            personas, to be able to design the prototype with the user in mind.
          </p>
          <h3>User Personas</h3>
          <p>
            I came up with two user personas. What’s different is that they own
            different businesses, one is a beauty center and the other is a
            dental clinic. However, for the flow, I will focus on Brianna as her
            business is more complex and if we solve her problems, all other
            businesses’ problems will be solved.
          </p>
        </div>
        <div class="synthesis__persona synthesis__persona--brianna">
          <div class="persona__image">
            <img
              src="../assets/images/minventory/brianna.png"
              alt="briana photo"
              class="synthesis__photo photo--brianna"
            />
          </div>
          <div class="persona__content">
            <div class="persona__title">
              <h1>Brianna</h1>
              <p>Entrepeneur Beauty Center</p>
            </div>

            <div class="persona__content--top">
              <div class="persona__container--about">
                <h4>ABOUT</h4>
                <div class="persona__icon--person">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/person_icon.png"
                      alt="person icon"
                    />
                  </div>
                  <p>Age 35</p>
                </div>
                <div class="persona__icon--business">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/business_icon.png"
                      alt="business icon"
                    />
                  </div>
                  <p>Cosmetician</p>
                </div>
                <div class="persona__icon--location">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/location_icon.png"
                      alt="location icon"
                    />
                  </div>
                  <p>London, UK</p>
                </div>
                <div class="persona__icon--home">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/home_icon.png"
                      alt="home icon"
                    />
                  </div>
                  <p>Single</p>
                </div>
              </div>
              <div class="persona__container--bio">
                <h4>BIO</h4>
                <p>
                  Brianna lives alone in Central London and owns a Beauty Spa
                  with her business partner Allison. Briana is not familiar with
                  the inventory tracking aspect of the business. She has 8
                  employees.
                </p>
              </div>
            </div>

            <div class="persona__content--bottom">
              <div class="persona__container--frustrations">
                <h4>FRUSTRATIONS</h4>
                <p>
                  Many materials to keep track. Does bookkeeping herself every
                  day afterhours.
                </p>
                <p>Hates when employees use too much of one material.</p>
                <p>
                  Only accepts appointments and ends up changing them because of
                  shortage of material.
                </p>
              </div>
              <div class="persona__container--goals">
                <h4>GOALS</h4>
                <p>
                  Not waste any material.Easily know when materials and supplies
                  will finish/expire so she can order more. Organize how and
                  when she should go inventory shopping.
                </p>
                <div class="persona__container--icons">
                  <h4>SasS Brands</h4>
                  <div class="icons__images">
                    <img
                      src="../assets/images/minventory/phorest_icon.png"
                      alt="pharest icon"
                    />
                    <img
                      src="../assets/images/minventory/zendesk_icon.png"
                      alt="zendesk icon"
                      class="synthesis__brand-icons--zendesk"
                    />
                    <img
                      src="../assets/images/minventory/square_icon.png"
                      alt="square icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="synthesis__persona synthesis__persona--clara">
          <div class="persona__image">
            <img
              src="../assets/images/minventory/clara.png"
              alt="clara photo"
              class="synthesis__photo photo--clara"
            />
          </div>
          <div class="persona__content">
            <div class="persona__title">
              <h1>Clara</h1>
              <p>Owner Dental Clinic</p>
            </div>
            <div class="persona__content--top">
              <div class="persona__container--about">
                <h4>ABOUT</h4>
                <div class="persona__icon--person">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/person_icon.png"
                      alt="person icon"
                    />
                  </div>
                  <p>Age 35</p>
                </div>
                <div class="persona__icon--business">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/business_icon.png"
                      alt="business icon"
                    />
                  </div>
                  <p>Cosmetician</p>
                </div>
                <div class="persona__icon--location">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/location_icon.png"
                      alt="location icon"
                    />
                  </div>
                  <p>London, UK</p>
                </div>
                <div class="persona__icon--home">
                  <div class="synthesis__icons">
                    <img
                      src="../assets/images/minventory/home_icon.png"
                      alt="home icon"
                    />
                  </div>
                  <p>Single</p>
                </div>
              </div>
              <div class="persona__container--bio">
                <h4>BIO</h4>
                <p>
                  Clara is a dentist that opened her own Dental Clinic on 2018
                  that was tragically affected by the pandemic. Clara spent her
                  life savings on the business and is married to it. She has 12
                  employees.
                </p>
              </div>
            </div>
            <div class="persona__content--bottom">
              <div class="persona__container--frustrations">
                <h4>FRUSTRATIONS</h4>
                <p>
                  Low cost suppliers require at least 1 week notice for orders.
                </p>
                <p>The inventory bookkeeper comes weekly</p>
                <p>
                  All material needs to be fresh and stored in cold
                  temperatures.
                </p>
                <p>
                  Hates when material is expired or finished and has upcomming
                  appointments.
                </p>
              </div>
              <div class="persona__container--goals">
                <h4>GOALS</h4>
                <p>
                  Easily know when materials and supplies will finish/expire so
                  she can order more.
                </p>
                <p>Keep clients happy and keep businesss running smoothly.</p>
                <div class="persona__container--icons">
                  <h4>SasS Brands</h4>
                  <div class="icons__images">
                    <img
                      src="../assets/images/minventory/zendesk_icon.png"
                      alt="pharest icon"
                    />
                    <img
                      src="../assets/images/minventory/zenoti.png"
                      alt="zendesk icon"
                      class="synthesis__brand-icons--zendesk"
                    />
                    <img
                      src="../assets/images/minventory/mantra.png"
                      alt="square icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 9 - SCENARIO -->
    <section class="scenario">
      <div class="scenario__wrapper">
        <h2>Scenario</h2>
        <div class="scenario__content">
          <p>
            Brianna purchased materials for a new service she is implementing in
            her beauty center and will manually input the details to the tacking
            system.
          </p>
        </div>
      </div>
    </section>

    <!-- SECTION 10 - PROTOTYPING -->
    <section class="prototyping">
      <div class="prototyping__wrapper">
        <h2>Prototyping</h2>
        <div class="prototyping__container">
          <div class="prototyping__content prototyping__content--lofi">
            <h3>Lo-Fi</h3>
            <div class="lofi__content">
              <div class="lofi__content--left">
                <img
                  src="../assets/images/minventory/dashboard.jpg"
                  alt="dashboard photo"
                />
                <p>Dashboard</p>
              </div>
              <div class="lofi__content--right">
                <img
                  src="../assets/images/minventory/inventory.jpg"
                  alt="inventory photo"
                />
                <p>Inventory</p>
              </div>
            </div>
          </div>
          <div class="prototyping__content prototyping__content--mifi">
            <h3>Mid-Fi</h3>
            <div class="midfi__content">
              <img
                src="../assets/images/minventory/dashboard-midfi.jpg"
                alt="dashboard photo midfi"
              />
              <img
                src="../assets/images/minventory/inventory-midfi.jpg"
                alt="inventory photo midfi"
              />
              <img
                src="../assets/images/minventory/addmenu-midfi.jpg"
                alt="add menu item photo midfi"
              />
              <img
                src="../assets/images/minventory/menu-midfi.jpg"
                alt="menu photo midfi"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 11 - USABILITY -->
    <section class="usability">
      <div class="usability__wrapper">
        <h2>Usability Tests and Iterations</h2>
        <div class="usability__content">
          <h3>Adding New Service</h3>
          <div class="usability__content--service">
            <div class="usability__service--top">
              <div class="usability__--service-top-left">
                <img
                  src="../assets/images/minventory/new-service.svg"
                  alt="new service capture"
                />
                <div class="usability__quote">
                  <quote>
                    “I am concerned about why this needs to be
                    <span>two seperate screens</span>.”
                  </quote>
                </div>
              </div>
              <div class="usability__service--top-right">
                <p>
                  Initially I had two different screens for adding a new item to
                  the menu of services. However users were annoyed of the amount
                  of steps taken to complete a simple task.
                </p>
              </div>
            </div>
            <div class="usability__service--bottom">
              <div class="usability__--service-bottom-left">
                <div class="service-bottom-left__paragraph">
                  <p>
                    So I redesigned it all to fit into a screen. <span>One simple screen</span> with components and variants.
                  </p>
                </div>
                <div class="usability__quote"></div>
              </div>
              <div class="usability__service--bottom-right">
                <img
                  src="../assets/images/minventory/new-service-redesigned.svg"
                  alt="new service redesigned capture"
                />
              </div>
            </div>
          </div>
          <h3>Inventory List</h3>
          <div class="usability__content--inventory">
            <p>Initially the inventory page looked like this, however users wanted to be able to search.</p>
            <div class="usability__inventory--top">
              <div class="usability__--inventory-top-left">
                <img
                  src="../assets/images/minventory/inventory-stock.svg"
                  alt="new service capture"
                />
              </div>
              <div class="usability__service--top-right">
                <div class="usability__quote">
                  <quote>
                    “Why am I still seeing this
                    <span>banner</span> on the top?”
                  </quote>
                  <quote>
                    “We have a lot of materials, I want to be able to <span>search</span> and or <span>filter</span> by category.”
                  </quote>
                </div>
              </div>
            </div>
            <div class="usability__inventory--line"></div>
            <div class="usability__inventory--bottom">
              <img src="../assets/images/minventory/categories.svg" alt="categories capture">
              <div class="usability__inventory--bottom-right">
                <p>Filter and Sort by different preferences.</p>
                <quote><span>Easy</span>, <span>familiar</span>, and <span>intuitive</span> way to sort things based on necessity.</quote>
              </div>
            </div>
            <p>Added the features that allows users to filter and search based on supplier, category, and name. Also, sort materials based on expiry dates and status.</p>
          </div>
          <h3>Adding Inventory</h3>
          <div class="wrap__inventory">
            <div class="usability__content--add-inventory">
              <p>During usability testing, users were super confused to how and why there are two measurements. I simply changed the organization of the inputs and changed some of the wording. </p>
              <img src="../assets/images/minventory/adding-inventory.svg" alt="adding inventory capture">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 12 - NEXT PHASE -->
    <section class="next-phase">
      <div class="next-phase__wrapper">
        <h2>V.2 Next Phase</h2>
        <div class="hero__line"></div>
        <div class="next-phase__content">
          <div class="next-phase__content--left">
            <h3>UX / UI</h3>
            <p>Test, test, test and test.</p>
            <p>
              Adding a “Edit Widgets” button to allow users to change the visuals
              of graphs/charts.
            </p>
            <p>
              Change the red, yellow, and green status signals to accomodate those
              who are color blind.
            </p>
            <img
              src="../assets/images/minventory/banner.svg"
              alt="banner image"
            />
          </div>
          <div class="next-phase__content--right">
            <h3>Business</h3>
            <p>Scan the web and alert you if there is a cheaper supplier.</p>
            <p>Be able to send and make orders based on approval.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 13 - FINAL PRODUCT -->
    <section class="final-product">
      <h2>Final Product</h2>
    </section>
  </body>
</html>
