// COLOR VARIABLES
$clr-primary-blue: hsla(247, 87%, 38%, 1);
$clr-primary-light-blue: hsla(216, 64%, 92%, 1);
$clr-secundary-purple: hsla(288, 67%, 55%, 1);
$clr-terciary-orange: hsla(3, 100%, 67%, 1);
$clr-grey: hsla(0, 0%, 92%, 1);
$clr-white: hsla(0, 0%, 100%, 1);