// FONT-SIZE
$font-s-base: 1rem;
$font-s-extraBase: 1.1rem;
$font-s-large: 1.25rem;
$font-s-h1: 2.1rem;

// FONT-WEIGHT
$font-w-minusNormal: 300;
$font-w-Normal: 400;
$font-w-plusNormal: 500;
$font-w-semiBold: 600;
$font-w-plusSemiBold: 700;
$font-w-bold: 800;

