@media screen and (max-width: 480px) {
  .responsive-test {
    background-color: red;
    font-size: 2rem;
    text-align: center;
    padding: 1em;
  }
}
@media screen and (max-width: 768px) {
  .responsive-test {
    background-color: blue;
  }
}
@media screen and (max-width: 1024px) {
  .responsive-test {
    background-color: green;
  }
}
@media screen and (min-width: 1201px) {
  .responsive-test {
    background-color: purple;
  }
}

.header {
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  width: 80vw;
  padding-top: 2em;
}
.header__name {
  display: flex;
  align-items: center;
  width: 10vw;
}
@media screen and (max-width: 768px) {
  .header__name {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header__name {
    width: 100%;
  }
}
.header__name a {
  color: hsl(0deg, 0%, 0%);
  text-decoration: none;
}
.header__nav {
  width: 100%;
  font-size: 1rem;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  color: hsl(212deg, 13%, 23%);
  list-style-type: none;
}
.header__list a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: inherit;
  text-decoration: none;
  transition: 0.7s ease;
}
.header__list a:hover {
  color: hsl(197deg, 100%, 50%);
}
.header__list a:active {
  color: hsl(212deg, 13%, 23%);
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .header__list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}
@media screen and (max-width: 768px) {
  .header__list.active {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__item {
    margin: 16px 0;
  }
}
.header__item--resume a {
  display: flex;
}
.header__item--resume a img {
  width: 1.6em;
}
.header .hamburger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .hamburger {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .header .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  .header .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.header .bar {
  display: flex;
  width: 1.5625em;
  height: 3px;
  margin: 5px auto;
  background-color: hsl(0deg, 0%, 0%);
  transition: all 0.3s easy-in-out;
}

.form-container {
  min-height: 87vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding-bottom: 3em;
}
.message__container span {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.5em;
}
.message__container textarea {
  width: 50vw;
  padding-top: 1em;
  padding-bottom: 12em;
  padding-left: 1em;
  outline: none;
  border: 0.01em solid hsl(212deg, 13%, 23%);
}

.contact--details__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding-bottom: 2em;
}
.contact--details__container span {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.5em;
}
.contact--details__container input {
  width: 50vw;
  padding: 1em;
  outline: none;
  border: 0.01em solid hsl(212deg, 13%, 23%);
}

.button {
  display: flex;
  justify-content: center;
}
.button input {
  width: 10vw;
  padding: 1em 0;
  border: none;
  border-radius: 3em;
  color: white;
  background-color: hsl(197deg, 100%, 50%);
  font-size: 0.9rem;
  font-weight: 500;
}
