@import '../../../portfolio/local/abstracts/variables';

.form-container {
  min-height: 87vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.message__container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;

  padding-bottom: 3em;

  span {
    font-size: $f-s-480;
    font-weight: $f-w-400;

    padding-bottom: 0.5em;
  }

  textarea {
    width: 50vw;

    padding-top: 1em;
    padding-bottom: 12em;
    padding-left: 1em;

    outline: none;
    border: 0.01em solid $clr-light-dark;
  }
}

.contact--details__container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;

  padding-bottom: 2em;

  span {
    font-size: $f-s-480;
    font-weight: $f-w-400;

    padding-bottom: 0.5em;
  }

  input {
    width: 50vw;

    padding: 1em;

    outline: none;
    border: 0.01em solid $clr-light-dark;
  }
}

.button {
  display: flex;
  justify-content: center;

  input {
    width: 10vw;

    padding: 1em 0;

    border: none;
    border-radius: 3em;

    color: $clr-background;
    background-color: $clr-hover;

    font-size: $f-s-380;
    font-weight: $f-w-500;
  }
}

