@import "../../../portfolio/local/abstracts/variables";

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4em 0;
}

.message__container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  padding-bottom: 3em;

  span {
    padding-bottom: 0.5em;

    font-size: $f-s-480;
    font-weight: $f-w-400;
  }

  textarea {
    width: 70vw;
    padding-top: 1em;
    padding-bottom: 12em;
    padding-left: 1em;

    outline: none;
    border: 0.01em solid $clr-light-dark;

    @include phone {
      font-size: 95%;
    }
    @include medium-phone {
      font-size: 75%;
    }
    @include small-phone {
      font-size: 60%;
    }
  }
}

.contact--details__container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding-bottom: 2em;

  @include phone {
    font-size: 95%;
  }
  @include medium-phone {
    font-size: 75%;
  }
  @include small-phone {
    font-size: 60%;
  }
  span {
    font-size: $f-s-480;
    font-weight: $f-w-400;
  }

  input {
    width: 70vw;
    padding: 1em;

    outline: none;
    border: 0.01em solid $clr-light-dark;
  }
}

.button {
  display: flex;
  justify-content: center;

  button {
    padding: 1em 2.5em;
    color: $clr-background;
    background-color: $clr-hover;

    font-size: $f-s-380;
    font-weight: $f-w-500;
    text-align: center;

    border: none;
    border-radius: 3em;
  }
}
