header {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 0;
}

.home {
  display: flex;
  align-items: center;
}
.home a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

nav {
  display: flex;
  font-size: 1rem;
}
nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  display: flex;
}
nav a {
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: hsl(197deg, 100%, 50%);
}
nav a:active {
  color: hsl(212deg, 13%, 23%);
  font-weight: 700;
}
nav .link-nav {
  display: flex;
  color: hsl(212deg, 13%, 23%);
}

.content-section {
  display: flex;
  justify-content: center;
  gap: 3em;
  width: 100%;
  background-color: aquamarine;
}
.content-section img {
  max-width: 45%;
  border: 1px solid black;
}
.content-section .self-intro {
  width: 40%;
  border: 1px solid red;
}

.short-content-section {
  width: 100%;
  background-color: coral;
}

.carrousel-section {
  min-height: 20em;
  width: 100%;
  background-color: magenta;
}

.talk-section {
  text-align: center;
  width: 100%;
  background-color: blue;
}
