@media screen and (max-width: 480px) {
  .responsive-test {
    background-color: red;
    font-size: 2rem;
    text-align: center;
    padding: 1em;
  }
}
@media screen and (max-width: 768px) {
  .responsive-test {
    background-color: blue;
  }
}
@media screen and (max-width: 1024px) {
  .responsive-test {
    background-color: green;
  }
}
@media screen and (max-width: ) {
  .responsive-test {
    background-color: purple;
  }
}

.header {
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  width: 80vw;
  padding-top: 2em;
}
.header__name {
  display: flex;
  align-items: center;
  width: 10vw;
}
.header__name a {
  color: hsl(0deg, 0%, 0%);
  text-decoration: none;
}
.header__nav {
  width: 100%;
  font-size: 1rem;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  color: hsl(212deg, 13%, 23%);
  list-style-type: none;
}
.header__list a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: inherit;
  text-decoration: none;
  transition: 0.7s ease;
}
.header__list a:hover {
  color: hsl(197deg, 100%, 50%);
}
.header__list a:active {
  color: hsl(212deg, 13%, 23%);
  font-weight: 700;
}
.header__item--resume a {
  display: flex;
}
.header__item--resume a img {
  width: 1.6em;
}
.header .hamburger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .hamburger {
    display: block;
  }
}
.header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s easy-in-out;
  background-color: green;
}

.content-section {
  display: flex;
  justify-content: space-between;
  gap: 7em;
  padding-top: 6em;
  padding-bottom: 2em;
  margin: 0 2em;
}
.content-section img {
  min-height: 35em;
  max-width: 45%;
  padding-top: 1em;
  padding-bottom: 4em;
}

.self-intro {
  padding-right: 2rem;
}
.self-intro h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.self-intro p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 1em;
  line-height: 1.4em;
}
.self-intro span {
  font-weight: 700;
}

.short-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10em;
  padding-bottom: 5rem;
}
.short-content-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.short-content-section p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 1em;
  line-height: 1.4em;
}
.short-content-section span {
  font-weight: 700;
}

.carrousel-section {
  min-height: 30em;
  width: 100%;
  margin-bottom: 6em;
  background-color: magenta;
}

.talk-section {
  text-align: center;
  margin: 0 auto;
}
.talk-section p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1em;
}
.talk-section a {
  font-size: 1.1rem;
  color: hsl(197deg, 100%, 50%);
}
