@import '../abstracts/colors';
@import '../abstracts/variables';

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 2.5em;

  margin: 1.5em 11em;

  border-top: 0.05rem solid $clr-footer;

  .fa-brands {
    color: $clr-light-dark;
  }
}